@model KarateKlub.Web.Areas.ModulSekretar.Models.TakmicenjaUrediVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Uređivanje takmičenje";
    ViewBag.Title = "Uređivanje takmičenje";
    Layout = null;

}

<style>
    #PoravnanjeKontrola {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>



@using (Html.BeginForm("SpremiIzmjenuTakmicenja", "Takmicenja", FormMethod.Post, new { style = "width:400px;", id = "formaUrediTakmicenje" }))
{
   @Html.HiddenFor(Model=>Model.Id)
    <div id="PoravnanjeKontrola">
        <div class="form-group" style="width:auto;">
            <label>Naziv: </label>
            @Html.TextBoxFor(model => model.NazivTakmicenja, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NazivTakmicenja)
            @Html.ValidationMessage("NazivTakmicenjaError", new { id = "NazivTakmicenjaError" })

        </div>


        <div class="form-group" style="width:auto;">
            <label>Datum održavanja: </label>
            @Html.TextBoxFor(model => model.DatumOdrzavanjaTakmicenja, new { @class = "form-control datepicker", onchange = "ValidirajDatumOdrzavanjaTakmicenja()" })
            @Html.ValidationMessageFor(model => model.DatumOdrzavanjaTakmicenja)
            @Html.ValidationMessage("DatumOdrzavanjaTakmicenjaError", new { id = "DatumOdrzavanjaTakmicenjaError" })

        </div>
        <div class="form-group" style="width:auto;">
            <label>Mjesto održavanja: </label>
            @Html.TextBoxFor(model => model.MjestoOdrzavanjaTakmicenja, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MjestoOdrzavanjaTakmicenja)
            @Html.ValidationMessage("MjestoOdrzavanjaTakmicenjaError", new { id = "MjestoOdrzavanjaTakmicenjaError" })

        </div>
        <div class="form-group" style="width:auto;">
            <label>Organizator takmičenja: </label>
            @Html.TextBoxFor(model => model.OrganizatorTakmicenja, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OrganizatorTakmicenja)
            @Html.ValidationMessage("OrganizatorTakmicenjaError", new { id = "OrganizatorTakmicenjaError" })

        </div>
        <div class="form-group" style="width:auto;">
            <label>Savez: </label>
            @Html.DropDownListFor(model => model.SavezId, Model.savezi, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SavezId, "Odaberite savez iz opadajuće liste")
            @Html.ValidationMessage("SavezIdError", new { id = "SavezIdError" })
        </div>

        <br />
    </div>
    <div id="btnSpremi">
        <button type="submit" title="Spremi podatke" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>

}


<script>

    $(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'bs'
        })
    })
</script>
<script type="text/javascript">

    document.getElementById("NazivTakmicenja").onblur = ValidirajNazivTakmicenja;
    document.getElementById("DatumOdrzavanjaTakmicenja").onblur = ValidirajDatumOdrzavanjaTakmicenja;
    document.getElementById("MjestoOdrzavanjaTakmicenja").onblur = ValidirajMjestoOdrzavanjaTakmicenja;
    document.getElementById("OrganizatorTakmicenja").onblur = ValidirajOrganizatoraTakmicenja;
    document.getElementById("SavezId").onblur = ValidirajSavez;

    function Validiraj() {


        var validna = true;
        if (ValidirajNazivTakmicenja() == false)
            validna = false;
        if (ValidirajDatumOdrzavanjaTakmicenja() == false)
            validna = false;
        if (ValidirajMjestoOdrzavanjaTakmicenja() == false)
            validna = false;
        if (ValidirajOrganizatoraTakmicenja() == false)
            validna = false;
        if (ValidirajSavez() == false)
            validna = false;

        return validna;
    }

    function ValidirajNazivTakmicenja() {

        var valid = true;
        var element = document.getElementById("NazivTakmicenja");
        var error = document.getElementById("NazivTakmicenjaError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Naziv takmičenja je obavezno polje";
        }

        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }


    function ValidirajDatumOdrzavanjaTakmicenja() {
        var valid = true;
        var element = document.getElementById("DatumOdrzavanjaTakmicenja");
        var error = document.getElementById("DatumOdrzavanjaTakmicenjaError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum održavanja je obavezno polje";
        }
        else {
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajMjestoOdrzavanjaTakmicenja() {

        var valid = true;
        var element = document.getElementById("MjestoOdrzavanjaTakmicenja");
        var error = document.getElementById("MjestoOdrzavanjaTakmicenjaError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Mjesto održavanja takmičenja je obavezno polje";
        }

        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajOrganizatoraTakmicenja() {

        var valid = true;
        var element = document.getElementById("OrganizatorTakmicenja");
        var error = document.getElementById("OrganizatorTakmicenjaError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Organizator takmičenja je obavezno polje";
        }

        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajSavez() {

        var element = document.getElementById("SavezId");
        var error = document.getElementById("SavezIdError");

        if (element[0].selected == true) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite savez iz opadajuće liste";

            return false;
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            return true;
        }

    }
</script>




