@model KarateKlub.Web.Areas.ModulSekretar.Models.ZaduzenjeOpremeKlubaClanovimaUrediVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Uređivanje zaduženja opreme";
    ViewBag.Title = "Uređivanje zaduženja opreme";
    Layout = null;
}


<style>
    #PoravnanjeKontrola {
        margin-left: 1px;
        width: 300px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    #Poravnanje {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

@using (Html.BeginForm("SpremiIzmjenuZaduzeneOpreme", "ZaduzenjeOpremeKlubaClanovima", FormMethod.Post, new { style = "width:400px;", id = "formaUrediZaduzenuOpremu" }))
{
    @Html.HiddenFor(Model=>Model.Id)
    @Html.HiddenFor(Model => Model.isAktivnoZaduzenje)
    @Html.HiddenFor(Model=>Model.aktivnost)
    <div id="Poravnanje">

        <div class="form-group" style="width:auto;">
            <label>Član: </label>
            @Html.DropDownListFor(model => model.ClanKlubaId, Model.clanoviKluba, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClanKlubaId, "Odaberite člana iz opadajuće liste")
            @Html.ValidationMessage("ClanKlubaIdError", new { id = "ClanKlubaIdError" })
        </div>

        <div class="form-group" style="width:auto;">
            <label>Vrsta opreme: </label>
            @Html.DropDownListFor(model => model.VrstaOpremeKlubaId, Model.vrsteOpremeKluba, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VrstaOpremeKlubaId, "Odaberite vrstu opreme iz opadajuće liste")
            @Html.ValidationMessage("VrstaOpremeKlubaError", new { id = "VrstaOpremeKlubaError" })
        </div>


        <div class="form-group" style="width:auto;">
            <label>Jedinica mjere: </label>
            @Html.DropDownListFor(model => model.JedinicaMjereId, Model.jediniceMjere, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.jediniceMjere, "Odaberite jedinicu mjere iz opadajuće liste")
            @Html.ValidationMessage("JedinicaMjereError", new { id = "JedinicaMjereError" })
        </div>


        <div class="form-group" style="width:auto;">

            <label>Datum zaduženja: </label>

            <div class="input-group date">
                @Html.TextBoxFor(model => model.DatumZaduzenjaOpreme, new { @class = "form-control datepicker", onchange = "ValidirajDatumZaduzenja()" })
                @Html.ValidationMessageFor(model => model.DatumZaduzenjaOpreme)
                @Html.ValidationMessage("DatumZaduzenjaOpremeError", new { id = "DatumZaduzenjaOpremeError" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>

        </div>
        <div class="form-group" style="width:auto;">
            <label>Obrazloženje: </label>
            @Html.TextAreaFor(model => model.Obrazlozenje, new { @class = "form-control", @style = "resize:none;height:150px;" })
            @Html.ValidationMessageFor(model => model.Obrazlozenje)
            @Html.ValidationMessage("ObrazlozenjeError", new { id = "ObrazlozenjeError" })

        </div>
    </div>
    <div id="btnSpremi">
        <button type="submit" title="Spremi podatke" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>


}
<script>

    $(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'bs'
        })
    })
</script>
<script type="text/javascript">


    document.getElementById("VrstaOpremeKlubaId").onblur = ValidirajVrstuOpreme;
    document.getElementById("JedinicaMjereId").onblur = ValidirajJedinicuMjere;
    document.getElementById("ClanKlubaId").onblur = ValidirajClanaKluba;
    document.getElementById("DatumZaduzenjaOpreme").onblur = ValidirajDatumZaduzenja;



    function Validiraj() {
        var valid = true;
        if (ValidirajVrstuOpreme() == false)
            valid = false;
        if (ValidirajJedinicuMjere() == false)
            valid = false;
        if (ValidirajDatumZaduzenja() == false)
            valid = false;
        if (ValidirajClanaKluba() == false)
            valid = false;
        return valid;

    }


    function ValidirajVrstuOpreme() {

        var element = document.getElementById("VrstaOpremeKlubaId");
        var error = document.getElementById("VrstaOpremeKlubaError");

        if (element[0].selected == true) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite vrstu opreme iz opadajuće liste";

            return false;
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            return true;
        }

    }


    function ValidirajJedinicuMjere() {

        var element = document.getElementById("JedinicaMjereId");
        var error = document.getElementById("JedinicaMjereError");

        if (element[0].selected == true) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite jedinicu mjere iz opadajuće liste";

            return false;
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            return true;
        }

    }

    function ValidirajClanaKluba() {

        var element = document.getElementById("ClanKlubaId");
        var error = document.getElementById("ClanKlubaIdError");

        if (element[0].selected == true) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite člana kluba iz opadajuće liste";

            return false;
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            return true;
        }

    }

    function ValidirajDatumZaduzenja() {
        var valid = true;
        var element = document.getElementById("DatumZaduzenjaOpreme");
        var error = document.getElementById("DatumZaduzenjaOpremeError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum zaduženja je obavezno polje";
        }
        else {
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
</script>



