@model KarateKlub.Web.Areas.ModulBlagajnik.Models.UpisaniClanoviIndexVM
@using KarateKlub.Web.Areas.ModulBlagajnik.Models

@{
    ViewBag.PageTitle = "Upisani članovi";
    ViewBag.Title = "Upisani članovi";
    Layout = null;
    int upisId = (int)ViewData["upisId"];
}

<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }

    .poravnanje2 {
        width: 200px;
        margin-left: 5px;
        display: inline-block;
    }
</style>


<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaUpisaniClanovi">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Član</th>
                                        <th>Datum i mjesto rođenja</th>
                                        <th>JMBG</th>
                                        <th>Kontakt telefon</th>
                                        <th>Email</th>
                                        <th>Datum upisa</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (UpisaniClanPodaci x in Model.upisaniClanovi)
                                    {

                                        <tr id="rowUpisaniClanId_@x.Id">
                                            <td>@x.ClanKluba - @x.Spol</td>
                                            <td>@x.DatumRodjenja.ToString("dd.MM.yyyy") - @x.MjestoRodjenja</td>
                                            <td>@x.JMBG</td>
                                            <td>@x.KontaktTelefon</td>
                                            <td>@x.Email</td>
                                            <td>@x.DatumUpisa.ToString("dd.MM.yyyy")</td>

                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">
                                                    @using (Ajax.BeginForm("Uredi", "UpisaniClanovi", new { upisaniClanId = x.Id }, new AjaxOptions { UpdateTargetId = "formaUrediUpisanogClana" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediUpisanogClana" data-backdrop="static" data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }

                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanjeUpisanogClana(@x.Id)"><i class="fa fa-trash"></i> </button>


                                                    <input type="hidden" id="sakrijUpisaniClanId" />
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <hr />

                    <div style="text-align:center;">
                        @using (Ajax.BeginForm("Dodaj", "UpisaniClanovi", new { upisId = upisId }, new AjaxOptions { UpdateTargetId = "formaDodajUpisanogClana" }, new { @class = "poravnanje2" }))
                        {

                            <button type="submit" class="btn-lg btn btn-primary poravnanje2" title="Dodaj člana" data-toggle="modal" data-target="#modalDodajUpisanogClana" data-backdrop="static" data-keyboard="false"><span class="fa fa-user-plus" aria-hidden="true"></span>Dodaj člana</button>
                        }
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        $('#tabelaUpisaniClanovi').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [6],
                'orderable': false
            }, {
                'targets': [0, 1, 2 ,3 , 4, 5, 6],
                'width': '5%'
    }
            ]


        })

    });
</script>

<div id="modalUrediUpisanogClana" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka o članu</h4>
            </div>

            <div class="modal-body" id="formaUrediUpisanogClana">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div id="modalDodajUpisanogClana" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Novi član kluba</h4>
            </div>

            <div class="modal-body" id="formaDodajUpisanogClana">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalPorukaZaBrisanjeUpisanogClana">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši člana kluba</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati člana kluba? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiUpisanogClanaKluba()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalUrediUpisanogClana').on('hidden.bs.modal', function () { $('#formaUrediUpisanogClana').empty(); });
    });
</script>
<script>
    $(document).ready(function () {
        $('#modalDodajUpisanogClana').on('hidden.bs.modal', function () { $('#formaDodajUpisanogClana').empty(); });
    });
</script>
<script>
    var PotvrdiBrisanjeUpisanogClana = function (Id) {

        $("#sakrijUpisaniClanId").val(Id);
        $("#modalPorukaZaBrisanjeUpisanogClana").modal('show');

    }

    var ObrisiUpisanogClanaKluba = function () {

        $("#divUcitavanje").show();

        var upisaniClanId = $("#sakrijUpisaniClanId").val();

        $.ajax({

            type: "POST",
            url: "/ModulBlagajnik/UpisaniClanovi/Obrisi",
            data: { upisaniClanId: upisaniClanId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeUpisanogClana").modal("hide");
                $("#rowUpisaniClanId_" + upisaniClanId).remove();
                location.reload(true);
            }

        })

    }
</script>


