@model KarateKlub.Web.Areas.ModulSekretar.Models.SekretariDetaljiVM
@using KarateKlub.Web.Areas.ModulSekretar.Models

@{
    ViewBag.Title = "Podaci sekretara";
    ViewBag.PageTitle = "Podaci sekretara";
    int aktivan = (int)ViewData["aktivan"];
    int osobaId = (int)ViewData["osobaId"];
    Layout = null;
}

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }

    #PoravnanjeKontrola {
        margin-left: 1px;
        width: 300px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .customDiv {
        margin: 5px;
    }

    #slikaSekretara {
        border: 1px solid transparent;
        border-color: #337ab7;
    }

    .razmak {
        margin-top: 20px;
    }

    .poravnanjeDugmadi {
        margin-top: 10px;
    }
</style>


<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="customDiv">
                                    @if (Model.Slika != null)
                                    {
                                        <img id="slikaSekretara" style="width: 300px; height: 300px;" src="@Url.Action("GetImage", new { osobaId = Model.OsobaId })" />
                                    }
                                    else
                                    {

                                        <img id="slikaSekretara" src="~/Content/AdminLTE-2.4.2/dist/img/korisnikNemaSliku.jpg" style="width: 300px; height: 300px;">
                                    }

                                    @using (Html.BeginForm("DodajSliku", "Sekretari", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {

                                        @Html.HiddenFor(Model => Model.OsobaId)
                                        @Html.HiddenFor(Model => Model.aktivan)
                                        <div id="PoravnanjeKontrola">
                                            <div class="form-group" style="width:auto;">
                                                <label></label>
                                                @Html.TextBoxFor(model => model.s, "Dodaj sliku", new { @class = "form-control", style = "border-color:#337ab7;", type = "file", onchange = "ValidirajSliku()" })
                                                @Html.ValidationMessageFor(model => model.s)
                                                @Html.ValidationMessage("SlikaError", new { id = "SlikaError" })

                                            </div>
                                        </div>

                                        <button type="submit" title="Spremi sliku" class="btn-lg btn btn-primary" style="width:300px;margin-top:25px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi sliku </button>

                                    }

                                    <br />
                                    <br />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="customDiv">

                                    <div>
                                        <a class="text-primary col-sm-6 razmakNaslov">Prezime i ime: </a>
                                        <a class="col-sm-6 razmakNaslov">@Model.Prezime @Model.Ime</a>
                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Ime oca: </a>
                                        <a class="col-sm-6 razmak">@Model.ImeRoditelja</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Spol: </a>
                                        <a class="col-sm-6 razmak">@Model.Spol</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">JMBG: </a>
                                        <a class="col-sm-6 razmak">@Model.JMBG</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Datum rođenja: </a>
                                        <a class="col-sm-6 razmak">@Model.DatumRodjenja.ToString("dd.MM.yyyy")</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Mjesto rođenja: </a>
                                        <a class="col-sm-6 razmak">@Model.MjestoRodjenja</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Kontakt telefon: </a>
                                        <a class="col-sm-6 razmak">@Model.KontaktTelefon</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">E-mail: </a>
                                        <a class="col-sm-6 razmak">@Model.Email</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Datum zaposlenja: </a>
                                        <a class="col-sm-6 razmak">@Model.DatumZaposlenja.ToString("dd.MM.yyyy")</a>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">


                                @if (Model.isAktivnaOsoba == true)
                                {
                                    using (Html.BeginForm("DeaktivirajSekretara", "Sekretari", new { osobaId = Model.OsobaId, aktivan = aktivan }))
                                    {
                                        @Html.HiddenFor(Model => Model.OsobaId)

                                       <button type="submit" class="btn-lg btn btn-primary" title="Deaktiviraj sekretara">
                                            Deaktiviraj sekretara
                                            <i class="fa fa-user-times" style="margin-left:85px;"></i>
                                        </button>
                                    }
                                }
                                @if (Model.isAktivnaOsoba == false)
                                {
                                    using (Html.BeginForm("AktivirajSekretara", "Sekretari", new { osobaId = Model.OsobaId, aktivan = aktivan }))
                                    {
                                        @Html.HiddenFor(Model => Model.OsobaId)

                                        <button type="submit" class="btn-lg btn btn-primary" title="Aktiviraj sekretara">
                                            Aktiviraj sekretara
                                            <i class="glyphicon glyphicon-user" style="margin-left:105px;"></i>
                                        </button>

                                    }

                                }

                                @using (Ajax.BeginForm("KlubskiPodaciSekretara", "Sekretari", new { osobaId = Model.OsobaId, aktivan = aktivan }, new AjaxOptions { UpdateTargetId = "formaKlubskiPodaciSekretara", LoadingElementId = "Loading1" }))
                                {

                                    @Html.HiddenFor(Model => Model.OsobaId)

                                    <button type="submit" title="Klubski podaci sekretara" class="btn-lg btn btn-primary poravnanjeDugmadi" style="display:inline-block;position:relative;" data-toggle="modal" data-target="#klubskiPodaciSekretaraModal" data-backdrop="static" data-keyboard="false">
                                        Klubski podaci
                                        <i class="fa fa-address-book-o" style="margin-left:130px;"></i>
                                    </button>
                                }




                                @using (Ajax.BeginForm("LicniPodaciSekretara", "Sekretari", new { osobaId = Model.OsobaId, aktivan = aktivan }, new AjaxOptions { UpdateTargetId = "formaLicniPodaciSekretara", LoadingElementId = "Loading1" }))
                                {

                                    @Html.HiddenFor(Model => Model.OsobaId)


                                    <button type="submit" class="btn-lg btn btn-primary poravnanjeDugmadi" title="Lični podaci sekretara" style="display:inline-block;position:relative;" data-toggle="modal" data-target="#licniPodaciSekretaraModal" data-backdrop="static" data-keyboard="false"> 
                                        Lični podaci
                                        <i class="fa fa-address-book" style="margin-left:150px;"></i>
                                    </button>

                                }







                            </div>

                        </div>

                    </div>

                    <br />

                </div>
            </div>

        </div>
    </div>

</div>


<script type="text/javascript">
    document.getElementById("s").onblur = ValidirajSliku;
    function Validiraj() {
        var validna = true;
        if (ValidirajSliku() == false)
            validna = false;
        return validna;
    }
    function ValidirajSliku() {
        var element = document.getElementById("s");
        var error = document.getElementById("SlikaError");



        //var dozvoljeneEkstenzije = new Array("jpg", "png", "gif", "jpeg", "bmp");
        var dozvoljeneEkstenzije = new Array("psd", "xcf", "al", "cdr", "tif", "tiff", "bmp", "jpg", "jpeg", "gif", "png", "eps", "raw", "cr2", "nef", "urf", "sr2", "dip", "jpe", "jfif");

        var ekstenzijaUcitaneSlike = element.value.split('.').pop().toLowerCase();

        if (element.value.length == 0) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite sliku koju želite spasiti";
            return false;
        }
        else {
            if (element.value.length != 0) {
                for (var i = 0; i <= dozvoljeneEkstenzije.length; i++) {
                    if (dozvoljeneEkstenzije[i] == ekstenzijaUcitaneSlike) {
                        element.classList.remove("input-validation-error");
                        error.classList.remove("field-validation-error");
                        error.classList.add("field-validation-valid");
                        error.innerHTML = "";
                        return true;
                    }

                }
                element.classList.add("input-validation-error");
                error.classList.remove("field-validation-valid");
                error.classList.add("field-validation-error");
                error.innerHTML = "*Odabrani file nije dozvoljenog formata";
                return false;

            }
        }

        element.classList.remove("input-validation-error");
        error.classList.remove("field-validation-error");
        error.classList.add("field-validation-valid");
        error.innerHTML = "";
        return true;


    }

</script>


<!-- Modal za klubske podatke-->
<div id="klubskiPodaciSekretaraModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje klubskih podataka sekretara</h4>
            </div>
            <div class="modal-body" id="formaKlubskiPodaciSekretara">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<!-- Modal za lične podatke-->
<div id="licniPodaciSekretaraModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje ličnih podataka sekretara</h4>
            </div>
            <div class="modal-body" id="formaLicniPodaciSekretara">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

