@model KarateKlub.Web.Areas.ModulBlagajnik.Models.ParticipacijeZaPolaganjeUcenickaZvanjaIndexVM
@using KarateKlub.Web.Areas.ModulBlagajnik.Models

@{
    ViewBag.Title = "Participacije za polaganje";
    ViewBag.PageTitle = "Participacije za polaganje";
    Layout = null;
    int polaganjeId = (int)ViewData["polaganjeId"];
}
<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }
</style>

<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaParticipacijeZaPolaganje">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Učesnik</th>
                                        <th>Zvanje za koje polaže</th>
                                        <th>Broj priznanice</th>
                                        <th>Iznos</th>
                                        <th>Datum uplate</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ParticipacijaZaPolaganjeUcenickaZvanjaPodaci x in Model.participacijeZaPolaganjeUcenickaZvanja)
                                    {
                                        <tr id="rowParticipacijaId_@x.Id">
                                            <td>@x.Ucesnik</td>
                                            <td>@x.ZvanjeZaKojePolaze</td>
                                            <td>@x.BrojPriznanice</td>
                                            <td>@x.IznosKMBrojevima KM(@x.IznosKMSlovima)</td>
                                            <td>@x.DatumUplate.ToString("dd.MM.yyyy")</td>

                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">


                                                    @using (Ajax.BeginForm("Uredi", "ParticipacijeZaPolaganjeUcenickaZvanja", new { participacijaZaPolaganjeId = x.Id }, new AjaxOptions { UpdateTargetId = "formaUrediParticipacijuZaPolaganje" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediParticipacijuZaPolaganje" data-backdrop="static" data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }
                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanjeParticipacijeZaPolaganje(@x.Id)"><i class="fa fa-trash"></i> </button>

                                                    <input type="hidden" id="sakrijParticipacijaZaPolaganjeId" />
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />


                </div>
            </div>

        </div>
    </div>

</div>
<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        $('#tabelaParticipacijeZaPolaganje').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [5],
                'orderable': false
            }, {
                'targets': [0, 1, 2, 3, 4, 5],
                'width': '5%'
    }
            ]


        })

    });
</script>



<div id="modalUrediParticipacijuZaPolaganje" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka participacije za polaganje</h4>
            </div>

            <div class="modal-body" id="formaUrediParticipacijuZaPolaganje">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalPorukaZaBrisanjeParticipacijeZaPolaganje">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši participaciju za polaganje</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati participaciju za polaganja? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiParticipacijuZaPolaganje()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalUrediParticipacijuZaPolaganje').on('hidden.bs.modal', function () { $('#formaUrediParticipacijuZaPolaganje').empty(); });
    });
</script>

<script>
    var PotvrdiBrisanjeParticipacijeZaPolaganje = function (Id) {

        $("#sakrijParticipacijaZaPolaganjeId").val(Id);
        $("#modalPorukaZaBrisanjeParticipacijeZaPolaganje").modal('show');

    }

    var ObrisiParticipacijuZaPolaganje = function () {

        $("#divUcitavanje").show();

        var participacijaZaPolaganjeId = $("#sakrijParticipacijaZaPolaganjeId").val();

        $.ajax({

            type: "POST",
            url: "/ModulBlagajnik/ParticipacijeZaPolaganjeUcenickaZvanja/Obrisi",
            data: { participacijaZaPolaganjeId: participacijaZaPolaganjeId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeParticipacijeZaPolaganje").modal("hide");
                $("#rowParticipacijaId_" + participacijaZaPolaganjeId).remove();

            }
        })
    }
</script>










