@model KarateKlub.Web.Areas.ModulSekretar.Models.StavkeProtokolaIndexVM
@using KarateKlub.Web.Areas.ModulSekretar.Models

@{
    ViewBag.Title = "Stavke protokola";
    ViewBag.PageTitle = "Stavke protokola";
}

<style>
    .poravnanje{
        margin-top:5px;
        width:50px;
        display:inline-block;
    }
</style>

<div style="text-align:left;">
   
    @Html.ActionLink(" ", "Index", "UpravljanjeProtokolima", new {brojTaba=1}, new { @class = " btn-lg btn btn-primary glyphicon glyphicon-chevron-left", @style = "font-family_", @Title = "Nazad na prikaz protokola" })


</div>

<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                  
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaStavkeProtokola">
                                <thead style="font-size:15px; font-weight:600;margin-top:0px;">
                                    <tr>
                                        <th>Redni broj</th>
                                        <th>Predmet dokumenta</th>
                                        <th>Pod broj</th>
                                        <th>Datum prijema</th>
                                        <th>Pošiljalac dokumenta</th>
                                        <th>Mjesto pošiljke</th>
                                        <th>Broj pošiljke</th>
                                        <th>Datum pošiljke</th>
                                        <th>Organizaciona jedinica</th>
                                        <th>Datum razvoda</th>
                                        <th>Oznaka razvoda</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (StavkeProtokolaPodaci x in Model.listaStavkiProtokola)
                                    {

                                        <tr id="row_@x.Id">

                                            <td>@x.BrojProtokola</td>
                                            <td>@x.Predmet</td>
                                            <td>@x.PodBroj</td>
                                            <td>@x.DatumPrijema</td>
                                            <td>@x.Posiljaoc</td>
                                            <td>@x.MjestoPosiljke</td>
                                            <td>@x.BrojPosiljke</td>
                                            <td>@x.DatumPosiljke</td>
                                            <td>@x.OrganizacionaJedinica</td>
                                            <td>@x.DatumRazvoda</td>
                                            <td>@x.Oznaka</td>
                                          
                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">
                                                    @using (Html.BeginForm("Index", "Dokumenti", new { stavkaId = x.Id }, FormMethod.Post, new { @class = "poravnanje" }))
                                                    {
                                                        <button type="submit" title="Dokumenti" class="btn-lg btn btn-primary poravnanje"><span class="fa fa-folder" aria-hidden="true"></span> </button>

                                                    }
                                                    @using (Ajax.BeginForm("Uredi", "StavkeProtokola", new { stavkaId = x.Id }, new AjaxOptions { UpdateTargetId = "formaUredi" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediStavku" data-backdrop="static"  data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }
                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanje(@x.Id)"><i class="fa fa-trash"></i> </button>


                                                    <input type="hidden" id="sakrijStavkuId" />
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <hr />

                    @using (Ajax.BeginForm("Dodaj", "StavkeProtokola", new AjaxOptions { UpdateTargetId = "formaDodaj" }))
                    {
                        @Html.HiddenFor(Model=>Model.protokolId)
                        <div style="text-align:center;">
                            <button type="submit" class="btn-lg btn btn-primary" title="Dodaj stavku" data-toggle="modal" data-target="#modalNovaStavkaProtokola" data-backdrop="static" data-keyboard="false"><span class="glyphicon-plus" aria-hidden="true"></span><span class="fa fa-file-text-o" aria-hidden="true"></span> Dodaj stavku</button>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>

</div>


<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        $('#tabelaStavkeProtokola').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [10,11],
                'orderable': false
               
            }]


        })

    });
</script>


<div id="modalNovaStavkaProtokola" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
               <div class="modal-header" style="background-color:#337ab7;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Nova stavka protokola</h4>
            </div>

            <div class="modal-body" id="formaDodaj">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<div id="modalUrediStavku" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka stavke protokola</h4>
            </div>

            <div class="modal-body" id="formaUredi">
                <div class="text-center" id="ucitavanjePodatakaZaUredjivanje" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalPorukaZaBrisanje">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši stavku protokola</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati stavku protokola? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiStavku()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalNovaStavkaProtokola').on('hidden.bs.modal', function () { $('#formaDodaj').empty(); });
    });
</script>
<script>
    $(document).ready(function () {
        $('#modalUrediStavku').on('hidden.bs.modal', function () { $('#formaUredi').empty(); });
    });
</script>
<script>
    var PotvrdiBrisanje = function (Id) {

        $("#sakrijStavkuId").val(Id);
        $("#modalPorukaZaBrisanje").modal('show');

    }

    var ObrisiStavku = function () {

        $("#divUcitavanje").show();

        var stavkaId = $("#sakrijStavkuId").val();

        $.ajax({

            type: "POST",
            url: "/ModulSekretar/StavkeProtokola/Obrisi",
            data: { stavkaId: stavkaId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanje").modal("hide");
                $("#row_" + stavkaId).remove();

            }

        })

    }


</script>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>



