@model KarateKlub.Web.Areas.ModulSekretar.Models.UpravljanjeUposlenicimaPrikazUposlenikaVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Osoblje";
    ViewBag.Title = "Osoblje";
    Layout = null;
    int aktivan = (int)ViewData["aktivan"];

}
<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }

    .poravnanje2 {
        width: 200px;
        margin-left: 5px;
        display: inline-block;
    }
</style>
<br />
<br />
<div style="margin-left:20px;width:260px;">
    @using (Html.BeginForm("GoToPrikazKnjigovodja", "UpravljanjeUposlenicima", new { }, FormMethod.Get, new { id = "FilterKnjigovodja" }))
    {
        @Html.DropDownListFor(model => model.aktivan, Model.Aktivnost, new { @class = "form-control", onchange = "document.getElementById('FilterKnjigovodja').submit()" })

    }
</div>

<hr />
<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaKnjigovodje">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Osoba</th>
                                        <th class="col-xs-1" style="text-align:center;">Funkcija</th>
                                        <th class="col-xs-1" style="text-align:center;">Aktivnost</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (UposlenikPodaci x in Model.uposlenici)
                                    {

                                        <tr id="rowKnjigovodjaId_@x.osobaId">
                                            <td>@x.imePrezime</td>
                                            <td class="col-xs-1" style="text-align:center;">Knjigovođa</td>

                                            <td class="col-xs-1" align="center">
                                                @if (@x.osoba.isAktivnaOsoba == true)
                                                {
                                                    @Html.CheckBox("Aktivann", true, new { disabled = "disabled" })

                                                }
                                                else
                                                {
                                                    @Html.CheckBox("Aktivann", false, new { disabled = "disabled" })
                                                }
                                            </td>
                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">
                                                    @using (Html.BeginForm("UpravljanjeDetaljimaKnjigovodje", "Knjigovodje", new { osobaId = x.osobaId, aktivan = aktivan }, FormMethod.Post, new { @class = "poravnanje" }))
                                                    {
                                                        <button type="submit" title="Upravljanje podacima" class="btn-lg btn btn-primary poravnanje"><span class="fa fa-cog" aria-hidden="true"></span></button>

                                                    }


                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanjeKnjigovodje(@x.osobaId)"><i class="fa fa-trash"></i> </button>


                                                    <input type="hidden" id="sakrijOsobaId" />
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <hr />
                    @using (Ajax.BeginForm("Dodaj", "Knjigovodje", new { aktivan = aktivan }, new AjaxOptions { UpdateTargetId = "formaDodajKnjigovodju" }))
                    {

                        <div style="text-align:center;">
                            <button type="submit" class="btn-lg btn btn-primary" title="Dodaj knjigovođu" data-toggle="modal" data-target="#modalDodajKnjigovodju" data-backdrop="static" data-keyboard="false"><span class="fa fa-user-plus" aria-hidden="true"></span> Dodaj knjigovođu</button>
                        </div>
                    }



                </div>
            </div>

        </div>
    </div>

</div>


<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $('#tabelaKnjigovodje').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [2,3],
                'orderable': false
            },
            {
                'targets': [0, 1, 2, 3],
                'width': '20%'
            }
            ]


        })

    });
</script>



<div id="modalDodajKnjigovodju" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Novi knjigovođa</h4>
            </div>

            <div class="modal-body" id="formaDodajKnjigovodju">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="modalPorukaZaBrisanjeKnjigovodje">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši knjigovođu</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati knjigovođu? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiKnjigovodju()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalDodajKnjigovodju').on('hidden.bs.modal', function () { $('#formaDodajKnjigovodju').empty(); });
    });
</script>
<script>
    var PotvrdiBrisanjeKnjigovodje = function (osobaId) {

        $("#sakrijOsobaId").val(osobaId);
        $("#modalPorukaZaBrisanjeKnjigovodje").modal('show');

    }

    var ObrisiKnjigovodju = function () {

        $("#divUcitavanje").show();

        var osobaId = $("#sakrijOsobaId").val();

        $.ajax({

            type: "POST",
            url: "/ModulSekretar/Knjigovodje/Obrisi",
            data: { osobaId: osobaId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeKnjigovodje").modal("hide");
                $("#rowKnjigovodjaId_" + osobaId).remove();

            }

        })

    }


</script>


















