@model KarateKlub.Web.Areas.ModulSekretar.Models.SponzoriUrediVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Uređivanje sponzora";
    ViewBag.Title = "Uređivanje sponzora";
    Layout = null;
}


<style>
    #PoravnanjeKontrola {
        margin-left: 1px;
        width: 300px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    #Poravnanje {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

@using (Html.BeginForm("SpremiIzmjenuSponzora", "Sponzori", FormMethod.Post, new { style = "width:400px;", id = "formaUrediSponzora" }))
{
    @Html.HiddenFor(Model => Model.aktivnost)
    @Html.HiddenFor(Model => Model.Id)

    <div id="Poravnanje">

        <div class="form-group" style="width:auto;">
            <label>Sponzor: </label>
            @Html.TextBoxFor(model => model.Naziv, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Naziv)
            @Html.ValidationMessage("NazivError", new { id = "NazivError" })
        </div>

        <div class="form-group" style="width:auto;">
            <label>Vrsta lica: </label>
            @Html.DropDownListFor(model => model.VrstaLicaId, Model.vrsteLica, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VrstaLicaId, "Odaberite vrstu lica iz opadajuće liste")
            @Html.ValidationMessage("VrstaLicaIdError", new { id = "VrstaLicaIdError" })
        </div>

        <div class="form-group" style="width:auto;">
            <label>Ime kontakt osobe: </label>
            @Html.TextBoxFor(model => model.ImeKontaktOsobe, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ImeKontaktOsobe)
            @Html.ValidationMessage("ImeKontaktOsobeError", new { id = "ImeKontaktOsobeError" })
        </div>

        <div class="form-group" style="width:auto;">
            <label>Prezime kontakt osobe: </label>
            @Html.TextBoxFor(model => model.PrezimeKontaktOsobe, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PrezimeKontaktOsobe)
            @Html.ValidationMessage("PrezimeKontaktOsobeError", new { id = "PrezimeKontaktOsobeError" })
        </div>

        <div class="form-group" style="width:auto;">
            <label>Kontakt telefon: </label>
            @Html.TextBoxFor(model => model.KontaktTelefon, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.KontaktTelefon)
            @Html.ValidationMessage("KontaktTelefonError", new { id = "KontaktTelefonError" })

        </div>
        <div class="form-group" style="width:auto;">
            <label>Email: </label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
            @Html.ValidationMessage("EmailError", new { id = "EmailError" })

        </div>
        <div class="form-group" style="width:auto;">
            <label>Aktivan: </label>
            @Html.CheckBoxFor(model => model.isAktivan, new { @class = "checkbox", @style = "height:30px;width:30px;" })
            @Html.ValidationMessageFor(model => model.isAktivan)
            @Html.ValidationMessage("isAktivanError", new { id = "isAktivanError" })

        </div>


    </div>
    <div id="btnSpremi">
        <button type="submit" title="Odustani" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>


}

<script type="text/javascript">


    document.getElementById("VrstaLicaId").onblur = ValidirajVrstuLica;
    document.getElementById("Naziv").onblur = ValidirajNazivSponzora;
    document.getElementById("ImeKontaktOsobe").onblur = ValidirajImeKontaktOsobe;
    document.getElementById("PrezimeKontaktOsobe").onblur = ValidirajPrezimeKontaktOsobe;
    document.getElementById("KontaktTelefon").onblur = ValidirajKontaktTelefon;
    document.getElementById("Email").onblur = ValidirajEmail;





    function Validiraj() {
        var valid = true;
        if (ValidirajVrstuLica()== false)
            valid = false;
        if (ValidirajNazivSponzora() == false)
            valid = false;
        if (ValidirajImeKontaktOsobe() == false)
            valid = false;
        if (ValidirajPrezimeKontaktOsobe() == false)
            valid = false;
        if (ValidirajKontaktTelefon() == false)
            valid = false;
        if (ValidirajEmail() == false)
            valid = false;
        return valid;

    }


    function ValidirajVrstuLica() {

        var element = document.getElementById("VrstaLicaId");
        var error = document.getElementById("VrstaLicaIdError");

        if (element[0].selected == true) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite vrstu lica iz opadajuće liste";

            return false;
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            return true;
        }

    }
    function ValidirajNazivSponzora() {

        var valid = true;
        var element = document.getElementById("Naziv");
        var error = document.getElementById("NazivError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Naziv sponzora je obavezno polje";
        }

        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajImeKontaktOsobe() {

        var valid = true;
        var element = document.getElementById("ImeKontaktOsobe");
        var error = document.getElementById("ImeKontaktOsobeError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Ime kontakt osobe je obavezno polje";
        }
        else {
            if (element.value.length < 2) {
                valid = false;
                error.innerHTML = "*Ime se sastoji od najmanje 2 slova";
            }
            else {
                var pravilo = new RegExp(/[0-9*_$%?#&!.,+]/, 'gi');
                if (pravilo.test(element.value) == true) {
                    valid = false;
                    error.innerHTML = "*Ime se sastoji od isključivo od slova";
                }
                else {
                    element.classList.remove("input-validation-error");
                    error.classList.remove("field-validation-error");
                    error.classList.add("field-validation-valid");
                    error.innerHTML = "";
                }
            }
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajPrezimeKontaktOsobe() {

        var valid = true;
        var element = document.getElementById("PrezimeKontaktOsobe");
        var error = document.getElementById("PrezimeKontaktOsobeError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Prezime kontakt osobe je obavezno polje";
        }
        else {
            if (element.value.length < 2) {
                valid = false;
                error.innerHTML = "*Prezime se sastoji od najmanje 2 slova";
            }
            else {
                var pravilo = new RegExp(/[0-9*_$%?#&!.,+]/, 'gi');
                if (pravilo.test(element.value) == true) {
                    valid = false;
                    error.innerHTML = "*Prezime se sastoji isključivo od slova";
                }
                else {
                    element.classList.remove("input-validation-error");
                    error.classList.remove("field-validation-error");
                    error.classList.add("field-validation-valid");
                    error.innerHTML = "";
                }
            }
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }

    function ValidirajKontaktTelefon() {

        var valid = true;
        var element = document.getElementById("KontaktTelefon");
        var error = document.getElementById("KontaktTelefonError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Kontakt telefon je obavezno polje";
        }
        else {
            if (element.value.length < 6) {
                valid = false;
                error.innerHTML = "*Kontakt telefon se sastoji od najmanje 6 brojeva";
            }
            else {
                var pravilo = new RegExp(/[A-Za-z*_$%?#&!.,+-]/, 'gi');
                if (pravilo.test(element.value) == true) {
                    valid = false;
                    error.innerHTML = "*Kontakt telefon može sadržavati samo brojeve";
                }
                else {
                    element.classList.remove("input-validation-error");
                    error.classList.remove("field-validation-error");
                    error.classList.add("field-validation-valid");
                    error.innerHTML = "";
                }
            }
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajEmail() {

        var valid = true;
        var element = document.getElementById("Email");
        var error = document.getElementById("EmailError");


        if (element.value != "") {
            var pravilo = new RegExp(/[A-Z0-9._%+-]+[@@][A-Z0-9.-]+\.[A-Z]{2,}/, 'gi')
            if (pravilo.test(element.value) == false) {
                valid = false;
                error.innerHTML = "*Neispravan format email-a";
            }
            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
            }
        }

        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }

        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
</script>






