@model KarateKlub.Web.Areas.ModulTrener.Models.TakmicariUrediVM
@using KarateKlub.Web.Areas.ModulTrener.Models
@{
    ViewBag.PageTitle = "Uređivanje takmičara";
    ViewBag.Title = "Uređivanje takmičara";
    Layout = null;
}


<style>
    #PoravnanjeKontrola {
        margin-left: 1px;
        width: 300px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    #Poravnanje {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

@using (Html.BeginForm("SpremiIzmjenuTakmicara", "Takmicari", FormMethod.Post, new { style = "width:400px;", id = "formaUrediTakmicara" }))
{
    @Html.HiddenFor(Model => Model.aktivnost)
    @Html.HiddenFor(Model => Model.Id)


    <div id="Poravnanje">


        <div class="form-group" style="width:auto;">
            <label>Registarski broj: </label>
            @Html.TextBoxFor(model => model.RegistarskiBroj, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RegistarskiBroj)
            @Html.ValidationMessage("RegistarskiBrojError", new { id = "RegistarskiBrojError" })
        </div>

        <div class="form-group" style="width:auto;">
            <label>Obrazloženje: </label>
            @Html.TextAreaFor(model => model.Obrazlozenje, new { @class = "form-control", @style = "resize:none;height:150px;" })
            @Html.ValidationMessageFor(model => model.Obrazlozenje)
            @Html.ValidationMessage("ObrazlozenjeError", new { id = "ObrazlozenjeError" })

        </div>
        <div class="form-group" style="width:auto;">
            <label>Aktivan: </label>
            @Html.CheckBoxFor(model => model.isAktivanTakmicar, new { @class = "checkbox", @style = "height:30px;width:30px;" })
            @Html.ValidationMessageFor(model => model.isAktivanTakmicar)
            @Html.ValidationMessage("isAktivanTakmicarError", new { id = "isAktivanTakmicarError" })

        </div>
    </div>
    <div id="btnSpremi">
        <button type="submit" title="Spremi podatke" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>


}

<script type="text/javascript">

    document.getElementById("RegistarskiBroj").onblur = ValidirajRegistarskiBroj;


    function Validiraj() {
        var valid = true;
     
        if (ValidirajRegistarskiBroj() == false)
            valid = false;


        return valid;

    }

    function ValidirajRegistarskiBroj() {

        var valid = true;
        var element = document.getElementById("RegistarskiBroj");
        var error = document.getElementById("RegistarskiBrojError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Registarski broj je obavezno polje";
        }

        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
</script>











