@model KarateKlub.Web.Areas.ModulBlagajnik.Models.TroskoviSeminaraIndexVM
@using KarateKlub.Web.Areas.ModulBlagajnik.Models

@{
    ViewBag.Title = "Troškovi seminara ";
    ViewBag.PageTitle = "Troškovi seminara";
    Layout = null;
    int seminarId = (int)ViewData["seminarId"];
    decimal ukupanTrosakSeminara = (decimal)ViewData["ukupanTrosakSeminara"];

}
<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }
</style>
<br />
<br />
<label style="margin-left:15px;">Ukupan trošak seminara iznosi: @ukupanTrosakSeminara KM</label>

<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaTroskoviSeminara">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Naziv</th>
                                        <th>Datum uplate</th>
                                        <th>Iznos</th>
                                        <th>Obrazloženje</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (TrosakSeminaraPodaci x in Model.troskoviSeminara)
                                    {
                                        <tr id="rowTrosakSeminaraId_@x.Id">
                                            <td>@x.Naziv</td>
                                            <td>@x.DatumUplate.ToString("dd.MM.yyyy")</td>
                                            <td>@x.IznosKMBrojevima KM(@x.IznosKMSlovima)</td>
                                            <td>
                                                @if (x.Obrazlozenje == null)
                                                {
                                                    <a href="#" data-toggle="popover" title="Obrazloženje" data-content="Ne postoji obrazloženje za trošak seminara.">Pregledaj obrazloženje</a>

                                                }
                                                else
                                                {

                                                    <a href="#" data-toggle="popover" title="Obrazloženje" data-content="@x.Obrazlozenje">Pregledaj obrazloženje</a>

                                                }
                                            </td>

                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">


                                                    @using (Ajax.BeginForm("Uredi", "TroskoviSeminara", new { trosakSeminaraId = x.Id }, new AjaxOptions { UpdateTargetId = "formaUrediTrosakSeminara" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediTrosakSeminara" data-backdrop="static" data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }
                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanjeTroskaSeminara(@x.Id)"><i class="fa fa-trash"></i> </button>

                                                    <input type="hidden" id="sakrijTrosakSeminaraId" />
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <hr />

                    @using (Ajax.BeginForm("Dodaj", "TroskoviSeminara", new { seminarId = seminarId }, new AjaxOptions { UpdateTargetId = "formaDodajTrosakSeminara" }))
                    {   <div style="text-align:center;">
                        <button type="submit" class="btn-lg btn btn-primary" title="Dodaj trošak" data-toggle="modal" data-target="#modalDodajTrosakSeminara" data-backdrop="static" data-keyboard="false"><span class="fa fa-plus" aria-hidden="true"></span><span class="fa fa-credit-card" aria-hidden="true"></span> Dodaj trošak</button>
                    </div>
                    }

                </div>
            </div>

        </div>
    </div>

</div>
<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        $('#tabelaTroskoviSeminara').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [3,4],
                'orderable': false
            }, {
                'targets': [0, 1, 2, 3, 4],
                'width': '20%'
    }
            ]


        })

    });
</script>



<div id="modalUrediTrosakSeminara" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka o trošku seminara</h4>
            </div>

            <div class="modal-body" id="formaUrediTrosakSeminara">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div id="modalDodajTrosakSeminara" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Novi trošak seminara</h4>
            </div>

            <div class="modal-body" id="formaDodajTrosakSeminara">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalPorukaZaBrisanjeTroskaSeminara">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši trošak seminara</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati trošak seminara? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiTrosakSeminara()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalUrediTrosakSeminara').on('hidden.bs.modal', function () { $('#formaUrediTrosakSeminara').empty(); });

    });
</script>
<script>
    $(document).ready(function () {
        $('#modalDodajTrosakSeminara').on('hidden.bs.modal', function () { $('#formaDodajTrosakSeminara').empty(); });

    });
</script>
<script>

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    var PotvrdiBrisanjeTroskaSeminara = function (Id) {

        $("#sakrijTrosakSeminaraId").val(Id);
        $("#modalPorukaZaBrisanjeTroskaSeminara").modal('show');

    }

    var ObrisiTrosakSeminara= function () {

        $("#divUcitavanje").show();

        var trosakSeminaraId = $("#sakrijTrosakSeminaraId").val();

        $.ajax({

            type: "POST",
            url: "/ModulBlagajnik/TroskoviSeminara/Obrisi",
            data: { trosakSeminaraId: trosakSeminaraId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeTroskaSeminara").modal("hide");
                $("#rowTrosakSeminaraId_" + trosakSeminaraId).remove();

            }

        })

    }


</script>










