@model KarateKlub.Web.Areas.ModulSekretar.Models.SjedniceUpravnogOdboraDodajVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Nova sjednica";
    ViewBag.Title = "Nova sjednica";
    Layout = null;

}

<style>
    #PoravnanjeKontrola {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>



@using (Html.BeginForm("SpremiNovuSjednicu", "SjedniceUpravnogOdbora", FormMethod.Post, new { style = "width:400px;", id = "formaDodaj" }))
{
    <div id="PoravnanjeKontrola">
        <div class="form-group" style="width:auto;">
            <label>Naziv: </label>
            @Html.TextBoxFor(model => model.Svrha, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Svrha)
            @Html.ValidationMessage("SvrhaError", new { id = "SvrhaError" })

        </div>

     
        <div class="form-group" style="width:auto;">
            <label>Datum održavanja: </label>
            @Html.TextBoxFor(model => model.DatumOdrzavanja, new { @class = "form-control datepicker",onchange= "ValidirajDatumOdrzavanja()" })
            @Html.ValidationMessageFor(model => model.DatumOdrzavanja)
            @Html.ValidationMessage("DatumOdrzavanjaError", new { id = "DatumOdrzavanjaError" })

        </div>
    
        <div class="form-group" style="width:auto;">
            <label>Obrazloženje: </label>
            @Html.TextAreaFor(model => model.Obrazlozenje, new { @class = "form-control", @style = "resize:none;height:150px;" })
            @Html.ValidationMessageFor(model => model.Obrazlozenje)
            @Html.ValidationMessage("ObrazlozenjeError", new { id = "ObrazlozenjeError" })

        </div>
        <br />
    </div>
    <div id="btnSpremi">
        <button type="submit" title="Spremi podatke" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>

}


<script>

    $(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'bs'
        })
    })
</script>
<script type="text/javascript">

    document.getElementById("Svrha").onblur = ValidirajSvrhu;
    document.getElementById("DatumOdrzavanja").onblur = ValidirajDatumOdrzavanja;

    function Validiraj() {


        var validna = true;
        if (ValidirajSvrhu() == false)
            validna = false;
        if (ValidirajDatumOdrzavanja() == false)
            validna = false;

        return validna;
    }



    function ValidirajSvrhu() {

        var valid = true;
        var element = document.getElementById("Svrha");
        var error = document.getElementById("SvrhaError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Naziv je obavezno polje";
        }

        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
   

    function ValidirajDatumOdrzavanja() {
        var valid = true;
        var element = document.getElementById("DatumOdrzavanja");
        var error = document.getElementById("DatumOdrzavanjaError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum održavanja je obavezno polje";
        }
        else {
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
   

</script>


