@model KarateKlub.Web.Areas.ModulSekretar.Models.NarudzbeOpremeKlubaIndexVM
@using KarateKlub.Web.Areas.ModulSekretar.Models

@{
    ViewBag.Title = "Narudžbe klubske opreme";
    ViewBag.PageTitle = "Narudžba opreme";
    Layout = null;
}

<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }
</style>
<br />
<br />
<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaNabavkeOpreme">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Naziv</th>
                                        <th>Datum narudžbe</th>
                                        <th>Obrazloženje narudžbe</th>
                                        <th>Iznos</th>
                                        <th>Datum uplate</th>
                                        <th>Obrazloženje uplate</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (NarudzbeOpremeKlubaPodaci x in Model.narudzbeOpremeKluba)
                                    {
                                        <tr id="rowNarudzbaId_@x.Id">
                                            <td>@x.NazivNarudzbeOpreme</td>
                                            <td>@x.DatumNabavke.ToString("dd.MM.yyyy")</td>
                                            <td>
                                                @if (x.Obrazlozenje == null)
                                                {
                                                    <a href="#" data-toggle="popover" title="Obrazloženje" data-content="Ne postoji obrazloženje za narudžbu.">Pregledaj obrazloženje</a>

                                                }
                                                else
                                                {

                                                    <a href="#" data-toggle="popover" title="Obrazloženje" data-content="@x.Obrazlozenje">Pregledaj obrazloženje</a>

                                                }
                                            </td>
                                            <td>@x.trosak.IznosKMBrojevi (@x.trosak.IznosKMSlova) </td>
                                            <td>@x.trosak.DatumUplate.ToString("dd.MM.yyyy")</td>
                                            <td>
                                                @if (x.trosak.Obrazlozenje == null)
                                                {
                                                    <a href="#" data-toggle="popover" title="Obrazloženje" data-content="Ne postoji obrazloženje za uplatu.">Pregledaj obrazloženje</a>

                                                }
                                                else
                                                {

                                                    <a href="#" data-toggle="popover" title="Obrazloženje" data-content="@x.trosak.Obrazlozenje">Pregledaj obrazloženje</a>

                                                }
                                            </td>
                                      
                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">

                                                    @using (Html.BeginForm("Index", "StavkeNarudzbeOpremeKluba", new { narudzbaId = x.Id }, FormMethod.Post, new { @class = "poravnanje" }))
                                                    {
                                                        <button type="submit" title="Stavke narudžbe" class="btn-lg btn btn-primary poravnanje"><span class="fa fa-cart-arrow-down" aria-hidden="true"></span></button>

                                                    }

                                                    @using (Ajax.BeginForm("Uredi", "NarudzbeOpremeKluba", new { narudzbaId = x.Id }, new AjaxOptions { UpdateTargetId = "formaUrediNarudzbu" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediNarudzbu" data-backdrop="static" data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }
                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanje(@x.Id)"><i class="fa fa-trash"></i> </button>

                                                    <input type="hidden" id="sakrijNarudzbaId" />
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <hr />

                    @using (Ajax.BeginForm("Dodaj", "NarudzbeOpremeKluba", new { }, new AjaxOptions { UpdateTargetId = "formaDodajNarudzbu" }))
                    {   <div style="text-align:center;">
                        <button type="submit" style="width:210px;" class="btn-lg btn btn-primary" title="Dodaj narudžbu" data-toggle="modal" data-target="#modalDodajNarudzbu" data-backdrop="static" data-keyboard="false"><span class="glyphicon-plus" aria-hidden="true"></span><span class="fa fa-shopping-cart" aria-hidden="true"></span> Dodaj narudžbu</button>
                    </div>
                    }

                </div>
            </div>

        </div>
    </div>

</div>
<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        $('#tabelaNabavkeOpreme').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [2,5,6],
                'orderable': false
            }, {
                'targets': [0, 1, 2, 3, 4, 5, 6],
                'width': '4%'
    }
            ]


        })

    });
</script>



<div id="modalUrediNarudzbu" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka narudžbe</h4>
            </div>

            <div class="modal-body" id="formaUrediNarudzbu">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div id="modalDodajNarudzbu" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#337ab7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Nova narudžba klubske opreme</h4>
            </div>

            <div class="modal-body" id="formaDodajNarudzbu">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalPorukaZaBrisanjeNarudzbe">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši narudžbu</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati podatke narudžbe? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiNarudzbu()" title="DA ">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#modalUrediNarudzbu').on('hidden.bs.modal', function () { $('#formaUrediNarudzbu').empty(); });
    });
</script>

<script>
    $(document).ready(function () {
        $('#modalDodajNarudzbu').on('hidden.bs.modal', function () { $('#formaDodajNarudzbu').empty(); });
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    var PotvrdiBrisanje = function (Id) {

        $("#sakrijNarudzbaId").val(Id);
        $("#modalPorukaZaBrisanjeNarudzbe").modal('show');

    }

    var ObrisiNarudzbu = function () {

        $("#divUcitavanje").show();

        var narudzbaId = $("#sakrijNarudzbaId").val();

        $.ajax({

            type: "POST",
            url: "/ModulSekretar/NarudzbeOpremeKluba/Obrisi",
            data: { narudzbaId: narudzbaId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeNarudzbe").modal("hide");
                $("#rowNarudzbaId_" + narudzbaId).remove();

            }

        })

    }


</script>


