@model KarateKlub.Web.Areas.ModulTrener.Models.SteceneLicenceDodajVM
@using KarateKlub.Web.Areas.ModulTrener.Models
@{
    ViewBag.PageTitle = "Nova licenca";
    ViewBag.Title = "Nova licenca";
    Layout = null;
}

<style>
    #PoravnanjeKontrola {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>



@using (Html.BeginForm("SpremiNovuLicencu", "SteceneLicence", FormMethod.Post, new { style = "width:400px;", id = "formaDodajStecenuLicencu" }))
{
    @Html.HiddenFor(Model=>Model.SeminarId)
    <div id="PoravnanjeKontrola">


        <div class="form-group" style="width:auto;">
            <label>Učesnik: </label>
            @Html.DropDownListFor(model => model.ucesnikId, Model.UcesniciSeminara, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ucesnikId, "Odaberite učesnika iz opadajuće liste")
            @Html.ValidationMessage("ucesnikIdError", new { id = "ucesnikIdError" })
        </div>
        <div class="form-group" style="width:auto;">
            <label>Vrsta licence: </label>
            @Html.DropDownListFor(model => model.VrstaLicenciId, Model.VrsteLicenci, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VrstaLicenciId, "Odaberite vrstu licence iz opadajuće liste")
            @Html.ValidationMessage("VrstaLicenciIdError", new { id = "VrstaLicenciIdError" })
        </div>

        <div class="form-group" style="width:auto;">
            <label>Nivo: </label>
            @Html.DropDownListFor(model => model.NivoLicenceId, Model.NivoiLicenci, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NivoLicenceId, "Odaberite nivo licence iz opadajuće liste")
            @Html.ValidationMessage("NivoLicenceIdError", new { id = "NivoLicenceIdError" })
        </div>
        <div class="form-group" style="width:auto;">
            <label>Stečeno zvanje: </label>
            @Html.TextBoxFor(model => model.StecenoZvanje, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StecenoZvanje)
            @Html.ValidationMessage("StecenoZvanjeError", new { id = "StecenoZvanjeError" })

        </div>
        <div class="form-group" style="width:auto;">

            <label>Datum sticanja: </label>

            <div class="input-group date">
                @Html.TextBoxFor(model => model.DatumSticanja, new { @class = "form-control datepicker", onchange = "ValidirajDatumSticanja()" })
                @Html.ValidationMessageFor(model => model.DatumSticanja)
                @Html.ValidationMessage("DatumSticanjaError", new { id = "DatumSticanjaError" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>

        </div>
        <div class="form-group" style="width:auto;">

            <label>Datum isteka: </label>

            <div class="input-group date">
                @Html.TextBoxFor(model => model.DatumVazenja, new { @class = "form-control datepicker", onchange = "ValidirajDatumVazenja()" })
                @Html.ValidationMessageFor(model => model.DatumVazenja)
                @Html.ValidationMessage("DatumVazenjaError", new { id = "DatumVazenjaError" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>

        </div>

    
        <div class="form-group" style="width:auto;">
            <label>Obrazloženje: </label>
            @Html.TextAreaFor(model => model.Obrazlozenje, new { @class = "form-control", @style = "resize:none;height:150px;" })
            @Html.ValidationMessageFor(model => model.Obrazlozenje)
            @Html.ValidationMessage("ObrazlozenjeError", new { id = "ObrazlozenjeError" })

        </div>
        <br />
    </div>
    <div id="btnSpremi">
        <button type="submit" title="Spremi podatke" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>

}


<script>

    $(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'bs'
        })
    })
</script>
<script type="text/javascript">


    document.getElementById("DatumSticanja").onblur = ValidirajDatumSticanja;
    document.getElementById("DatumVazenja").onblur = ValidirajDatumVazenja;
    document.getElementById("ucesnikId").onblur = ValidirajUcesnika;
    document.getElementById("VrstaLicenciId").onblur = ValidirajVrstuLicence;
    document.getElementById("NivoLicenceId").onblur = ValidirajNivoLicence;
    document.getElementById("StecenoZvanje").onblur = ValidirajStecenoZvanje;
 
    function Validiraj() {


        var validna = true;
        if (ValidirajDatumSticanja() == false)
            validna = false;
        if (ValidirajDatumVazenja() == false)
            validna = false;
        if (ValidirajUcesnika() == false)
            validna = false;
        if (ValidirajVrstuLicence() == false)
            validna = false;
        if (ValidirajNivoLicence() == false)
            validna = false;
        if (ValidirajStecenoZvanje() == false)
            validna = false;

        return validna;
    }




    function ValidirajDatumSticanja() {
        var valid = true;
        var element = document.getElementById("DatumSticanja");
        var error = document.getElementById("DatumSticanjaError");
        var datumDo = document.getElementById("DatumVazenja");
        var datumDoError = document.getElementById("DatumVazenjaError");
        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum sticanja licence je obavezno polje";
        }
        else 
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
     
        else if (element.value != "" && datumDo.value != "") {
            var danOd = element.value.substring(0, 2);
            var mjesecOd = element.value.substring(3, 5);
            var godinaOd = element.value.substring(6, 20);
            var danDo = datumDo.value.substring(0, 2);
            var mjesecDo = datumDo.value.substring(3, 5);
            var godinaDo = datumDo.value.substring(6, 20);
            var noviDatumOd = mjesecOd + "/" + danOd + "/" + godinaOd;
            var noviDatumDo = mjesecDo + "/" + danDo + "/" + godinaDo;

            var dod = new Date(noviDatumOd);
            var ddo = new Date(noviDatumDo);
            if (ddo <= dod) {
                valid = false;
                error.innerHTML = "*Datum sticanja licence mora biti manji od datuma isteka licence.";

            }

            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }


        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            valid = true;
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajDatumVazenja() {
        var valid = true;
        var element = document.getElementById("DatumVazenja");
        var error = document.getElementById("DatumVazenjaError");
        var datumOd = document.getElementById("DatumSticanja");
        var datumOdError = document.getElementById("DatumSticanjaError");
        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum isteka licence je obavezno polje";
        }
        else 
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
        
        else if (element.value != "" && datumOd.value != "") {
            var danDo = element.value.substring(0, 2);
            var mjesecDo = element.value.substring(3, 5);
            var godinaDo = element.value.substring(6, 20);
            var danOd = datumOd.value.substring(0, 2);
            var mjesecOd = datumOd.value.substring(3, 5);
            var godinaOd = datumOd.value.substring(6, 20);
            var noviDatumOd = mjesecOd + "/" + danOd + "/" + godinaOd;
            var noviDatumDo = mjesecDo + "/" + danDo + "/" + godinaDo;

            var dod = new Date(noviDatumOd);
            var ddo = new Date(noviDatumDo);
            if (ddo <= dod) {
                valid = false;
                error.innerHTML = "*Datum isteka licence mora biti veći od datuma sticanja licence.";

            }

            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }


        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            valid = true;
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajStecenoZvanje() {

        var valid = true;
        var element = document.getElementById("StecenoZvanje");
        var error = document.getElementById("StecenoZvanjeError");


        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Stečeno zvanje je obavezno polje";
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
  
    function ValidirajUcesnika() {

        var element = document.getElementById("ucesnikId");
        var error = document.getElementById("ucesnikIdError");

        if (element[0].selected == true) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite učesnika iz opadajuće liste";

            return false;
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            return true;
        }


    }
    function ValidirajVrstuLicence() {

        var element = document.getElementById("VrstaLicenciId");
        var error = document.getElementById("VrstaLicenciIdError");

        if (element[0].selected == true) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite vrstu licence iz opadajuće liste";

            return false;
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            return true;
        }


    }
    function ValidirajNivoLicence() {

        var element = document.getElementById("NivoLicenceId");
        var error = document.getElementById("NivoLicenceIdError");

        if (element[0].selected == true) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite nivo licence iz opadajuće liste";

            return false;
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            return true;
        }


    }
</script>







