@model KarateKlub.Web.Areas.ModulTrener.Models.SteceneLicenceIndex3VM
@using KarateKlub.Web.Areas.ModulTrener.Models

@{
    ViewBag.Title = "Stečene licence";
    ViewBag.PageTitle = "Stečene licence";
    int aktivnost = (int)ViewData["aktivnost"];
}
<style>
    .poravnanje {
        width: 50px;
        margin-left: 5px;
        display: inline-block;
    }
</style>
<div style="text-align:left;">

    @Html.ActionLink(" ", "Index", "Home", new {}, new { @class = " btn-lg btn btn-primary glyphicon glyphicon-chevron-left", @style = "font-family_", @Title = "Nazad na početnu" })

</div>
<br />
<br />

<div style="margin-left:15px;width:260px;">
    @using (Html.BeginForm("Index3", "SteceneLicence", FormMethod.Get, new { id = "Filter" }))
    {
        @Html.DropDownListFor(model => model.aktivnost, Model.Aktivnost, new { @class = "form-control", onchange = "document.getElementById('Filter').submit()" })

    }
</div>
<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="table-primary">
                        <div class="table-responsive-vertical shadow-z-1">

                            <table style="border-top: 1px solid rgba(0, 0, 0, 0.12); font-family:Arial;" class="table table-hover table-striped table-bordered" id="tabelaSteceneLicence">
                                <thead style="font-size:16px; font-weight:500;">
                                    <tr>
                                        <th>Osoba</th>
                                        <th>Licenca</th>
                                        <th>Zvanje</th>
                                        <th>Nivo</th>
                                        <th>Datum važenja</th>
                                        <th class="col-xs-1" style="text-align:center;">Aktivnost</th>
                                        <th>Obrazloženje</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (StecenaLicencaPodaci x in Model.steceneLicence)
                                    {
                                        <tr id="rowStecenaLicencaId_@x.Id">
                                            <td>@x.Osoba</td>
                                            <td>@x.VrstaLicence</td>
                                            <td>@x.StecenoZvanje</td>
                                            <td>@x.NivoLicence</td>
                                            <td>@x.DatumSticanja.ToString("dd.MM.yyyy") - @x.DatumVazenja.ToString("dd.MM.yyyy")</td>
                                            <td class="col-xs-1" align="center">
                                                @if (@x.isAktivnaLicenca == true)
                                                {
                                                    @Html.CheckBox("Aktivnaa", true, new { disabled = "disabled" })

                                                }
                                                else
                                                {
                                                    @Html.CheckBox("Aktivnaa", false, new { disabled = "disabled" })
                                                }
                                            </td>
                                            <td>

                                                @if (x.Obrazlozenje == null)
                                                {
                                                    <a href="#" data-toggle="popover" title="Obrazloženje" data-content="Ne postoji obrazloženje za licencu.">Pregledaj obrazloženje</a>

                                                }
                                                else
                                                {

                                                    <a href="#" data-toggle="popover" title="Obrazloženje" data-content="@x.Obrazlozenje">Pregledaj obrazloženje</a>

                                                }
                                            </td>
                                            <td class="col-xs-1" align="center">
                                                <div id="akcija" style="font-family:Arial;font-size:16px; font-weight:500;">

                                                    @using (Html.BeginForm("Index2", "ObnoveLicenci", new { licencaId = x.Id,aktivnost=aktivnost}, FormMethod.Post, new { @class = "poravnanje" }))
                                                    {
                                                        <button type="submit" title="Obnove licence" class="btn-lg btn btn-primary poravnanje"><span class="fa fa-drivers-license-o" aria-hidden="true"></span></button>

                                                    }
                                                    @using (Ajax.BeginForm("Uredi2", "SteceneLicence", new { licencaId = x.Id,aktivnost=aktivnost }, new AjaxOptions { UpdateTargetId = "formaUrediStecenuLicencu2" }, new { @class = "poravnanje" }))
                                                    {

                                                        <button type="submit" title="Uredi" class="btn-lg btn btn-warning poravnanje" data-toggle="modal" data-target="#modalUrediStecenuLicencu2" data-backdrop="static" data-keyboard="false"><span class="fa fa-edit" aria-hidden="true"></span> </button>
                                                    }

                                                    <button class="btn-lg btn btn-danger poravnanje" title="Obriši" onclick="PotvrdiBrisanjeSteceneLicence(@x.Id)"><i class="fa fa-trash"></i> </button>

                                                    <input type="hidden" id="sakrijStecenaLicencaId" />
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
               

                </div>
            </div>

        </div>
    </div>

</div>
<script src="~/Content/AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        $('#tabelaSteceneLicence').DataTable({

            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'retrieve': true,
            'autoWidth': false,
            'language': {
                'paginate': {
                    'previous': "Prethodna",
                    'next': 'Sljedeća',

                },
                'search': "Pretraga:",
                'lengthMenu': 'Broj zapisa po stranici:<select>' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">Svi</option>' +
            '</select>',
                'info': "Prikaziva _END_ od ukupno _TOTAL_ zapisa",
                'emptyTable': "Nema dostupnih podataka",
                'zeroRecords': "Nema pronađenih rezultata",
                'processing': "Procesiranje",
                'infoEmpty': "Prikaziva 0 od ukupno 0 zapisa",
                'loadingRecords': "Učitavanje zapisa...",
                'infoPostFix': "",
                'infoFiltered': "(filtrirano od ukupno _MAX_ zapisa)"
            },

            'pageLength': 10,
            'columnDefs': [{
                'targets': [5, 6, 7],
                'orderable': false
            }, {
                'targets': [0, 1, 2, 3, 4, 5, 6, 7],
                'width': '3%'
    }
            ]


        })

    });
</script>


<div id="modalUrediStecenuLicencu2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje podataka o licenci</h4>
            </div>

            <div class="modal-body" id="formaUrediStecenuLicencu2">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalPorukaZaBrisanjeSteceneLicence">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="color:white;">Obriši licencu</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h4>Da li ste sigurni da želite obrisati licencu? </h4>

                <div style="text-align:center;display:none" id="divUcitavanje">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer" style="text-align:center;">
                <a href="#" class="btn btn-primary" data-dismiss="modal" title="NE">NE</a>
                <a href="#" class="btn btn-danger" onclick="ObrisiStecenuLicencu()" title="DA">DA</a>
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

<script>
    $(document).ready(function () {
        $('#modalUrediStecenuLicencu2').on('hidden.bs.modal', function () { $('#formaUrediStecenuLicencu2').empty(); });

    });
</script>
<script>
    var PotvrdiBrisanjeSteceneLicence = function (Id) {

        $("#sakrijStecenaLicencaId").val(Id);
        $("#modalPorukaZaBrisanjeSteceneLicence").modal('show');

    }

    var ObrisiStecenuLicencu = function () {

        $("#divUcitavanje").show();

        var licencaId = $("#sakrijStecenaLicencaId").val();

        $.ajax({

            type: "POST",
            url: "/ModulTrener/SteceneLicence/Obrisi",
            data: { licencaId: licencaId },
            success: function (result) {
                $("#divUcitavanje").hide();
                $("#modalPorukaZaBrisanjeSteceneLicence").modal("hide");
                $("#rowStecenaLicencaId_" + licencaId).remove();

            }

        })

    }


</script>











