@model KarateKlub.Web.Areas.ModulAdministrator.Models.KorisnickiNaloziDetaljiVM
@using KarateKlub.Web.Areas.ModulAdministrator.Models

@{
    ViewBag.Title = "Detaljne informacije o korisniku " + Model.Ime + ' ' + Model.Prezime;
    ViewBag.PageTitle = "Prikaz korisničkih naloga";
    int brojTaba = (int)ViewData["tab"];
    int aktivan = (int)ViewData["aktivnost"];

}

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }

    #PoravnanjeKontrola {
        margin-left: 1px;
        width: 300px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .customDiv {
        margin: 5px;
    }

    #slikaKorisnika {
        
        border: 1px solid transparent;
        border-color: #337ab7;
    }

    .razmak {
        margin-top: 20px;
    }
      .poravnanjeDugmadi {
        margin-top: 10px;
    }
</style>

<div style="text-align:left;">

    @Html.ActionLink(" ", "Index", "KorisnickiNalozi", new { aktivan =aktivan, uloga = 0, brojTaba = brojTaba }, new { @class = " btn-lg btn btn-primary glyphicon glyphicon-chevron-left", @style = "font-family_", @Title = "Nazad na prikaz korisničkih naloga" })

</div>


<div id="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"></span>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="customDiv">
                                    @if (Model.Slika != null)
                                    {
                                        <img id="slikaKorisnika" style="width: 300px; height: 300px;" src="@Url.Action("GetImage", new { osobaId = Model.OsobaId, ulogaId = Model.KorisnickaUlogaId })" />
                                    }
                                    else
                                    {

                                        <img id="slikaKorisnika" src="~/Content/AdminLTE-2.4.2/dist/img/korisnikNemaSliku.jpg" style="width: 300px; height: 300px;">
                                    }

                                    @using (Html.BeginForm("DodajSliku", "KorisnickiNalozi", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {

                                        @Html.HiddenFor(Model => Model.OsobaId)
                                        @Html.HiddenFor(Model => Model.KorisnickaUlogaId)
                                        @Html.HiddenFor(Model=>Model.aktivnost)
                                        <div id="PoravnanjeKontrola">
                                            <div class="form-group" style="width:auto;">
                                                <label></label>
                                                @Html.TextBoxFor(model => model.s, "Dodaj sliku", new { @class = "form-control", style = "border-color:#337ab7;", type = "file", onchange = "ValidirajSliku()" })
                                                @Html.ValidationMessageFor(model => model.s)
                                                @Html.ValidationMessage("SlikaError", new { id = "SlikaError" })

                                            </div>
                                        </div>

                                        <button type="submit" title="Spremi sliku" class="btn-lg btn btn-primary" style="width:300px;margin-top:25px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi sliku </button>

                                    }

                                    <br />
                                    <br />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="customDiv">

                                    <div>
                                        <a class="text-primary col-sm-6 razmakNaslov">Prezime i ime: </a>
                                        <a class="col-sm-6 razmakNaslov">@Model.Prezime @Model.Ime</a>
                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Ime oca: </a>
                                        <a class="col-sm-6 razmak">@Model.ImeRoditelja</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Spol: </a>
                                        <a class="col-sm-6 razmak">@Model.Spol</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">JMBG: </a>
                                        <a class="col-sm-6 razmak">@Model.JMBG</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Datum rođenja: </a>
                                        <a class="col-sm-6 razmak">@Model.DatumRodjenja.ToString("dd.MM.yyyy")</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Mjesto rođenja: </a>
                                        <a class="col-sm-6 razmak">@Model.MjestoRodjenja</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">Kontakt telefon: </a>
                                        <a class="col-sm-6 razmak">@Model.KontaktTelefon</a>

                                    </div>

                                    <div>
                                        <a class="text-primary col-sm-6 razmak">E-mail: </a>
                                        <a class="col-sm-6 razmak">@Model.Email</a>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">


                                @if (Model.isAktivanNalog == true)
                                {
                                    using (Html.BeginForm("DeaktivirajNalog", "KorisnickiNalozi", new { osobaId = Model.OsobaId, ulogaId = Model.KorisnickaUlogaId,aktivan=aktivan }))
                                    {
                                        @Html.HiddenFor(Model => Model.OsobaId)
                                        @Html.HiddenFor(Model => Model.KorisnickaUlogaId)

                                        <button type="submit" class="btn-lg btn btn-primary" title="Deaktiviraj korisnika">
                                            Deaktiviraj korisnika
                                            <i class="fa fa-user-times" style="margin-left:100px;"></i>
                                        </button>
                                    }
                                }
                                @if (Model.isAktivanNalog == false)
                                {
                                    using (Html.BeginForm("AktivirajNalog", "KorisnickiNalozi", new { osobaId = Model.OsobaId, ulogaId = Model.KorisnickaUlogaId,aktivan=aktivan}))
                                    {
                                        @Html.HiddenFor(Model => Model.OsobaId)
                                        @Html.HiddenFor(Model => Model.KorisnickaUlogaId)


                                        <button type="submit" class="btn-lg btn btn-primary" title="Aktiviraj korisnika">
                                            Aktiviraj korisnika
                                            <i class="glyphicon glyphicon-user" style="margin-left:122px;"></i>
                                        </button>
                                    }

                                }

                                @using (Ajax.BeginForm("KorisnickiPodaci", "KorisnickiNalozi", new { osobaId = Model.OsobaId, ulogaId = Model.KorisnickaUlogaId, aktivan = aktivan }, new AjaxOptions { UpdateTargetId = "FormaKorisnickiPodaci", LoadingElementId = "Loading1" }))
                                {

                                    @Html.HiddenFor(Model => Model.OsobaId)
                                    @Html.HiddenFor(Model => Model.KorisnickaUlogaId)

                                    <button type="submit" class="btn-lg btn btn-primary poravnanjeDugmadi" title="Korisnički podaci" style="display:inline-block;position:relative;" data-toggle="modal" data-target="#korisnickiPodaciModal" data-backdrop="static" data-keyboard="false">
                                        Korisnički podaci
                                        <i class="fa fa-user" style="margin-left:132px;"></i>
                                    </button>
                                }


                                @if (Model.KorisnickaUloga != "Administrator")

                                {
                                    using (Ajax.BeginForm("KlubskiPodaci", "KorisnickiNalozi", new { osobaId = Model.OsobaId, ulogaId = Model.KorisnickaUlogaId, aktivan = aktivan }, new AjaxOptions { UpdateTargetId = "FormaKlubskiPodaci", LoadingElementId = "Loading1" }))
                                    {

                                        @Html.HiddenFor(Model => Model.OsobaId)
                                        @Html.HiddenFor(Model => Model.KorisnickaUlogaId)
                                        @Html.HiddenFor(Model => Model.KorisnickaUloga)
                                        <button type="submit" class="btn-lg btn btn-primary poravnanjeDugmadi" title="Klubski podaci" style="display:inline-block;position:relative;" data-toggle="modal" data-target="#klubskiPodaciModal" data-backdrop="static" data-keyboard="false">
                                            Klubski podaci
                                            <i class="fa fa-address-book-o" style="margin-left:147px;"></i>
                                        </button>
                                    }

                                }

                                @using (Ajax.BeginForm("LicniPodaci", "KorisnickiNalozi", new { osobaId = Model.OsobaId, ulogaId = Model.KorisnickaUlogaId,aktivan=aktivan}, new AjaxOptions { UpdateTargetId = "FormaLicniPodaci", LoadingElementId = "Loading1" }))
                                {

                                    @Html.HiddenFor(Model => Model.OsobaId)
                                    @Html.HiddenFor(Model => Model.KorisnickaUlogaId)

                                    <button type="submit" class="btn-lg btn btn-primary poravnanjeDugmadi" title="Lični podaci" style="display:inline-block;position:relative;" data-toggle="modal" data-target="#licniPodaciModal" data-backdrop="static" data-keyboard="false">
                                        Lični podaci
                                        <i class="fa fa-address-book" style="margin-left:165px;"></i>
                                    </button>
                                }

           




                            </div>

                        </div>

                    </div>

                    <br />

                </div>
            </div>

        </div>
    </div>

</div>


<script type="text/javascript">
    document.getElementById("s").onblur = ValidirajSliku;
    function Validiraj() {
        var validna = true;
        if (ValidirajSliku() == false)
            validna = false;
        return validna;
    }
    function ValidirajSliku() {
        var element = document.getElementById("s");
        var error = document.getElementById("SlikaError");



        //var dozvoljeneEkstenzije = new Array("jpg", "png", "gif", "jpeg", "bmp");
        var dozvoljeneEkstenzije = new Array("psd", "xcf", "al", "cdr", "tif", "tiff", "bmp", "jpg", "jpeg", "gif", "png", "eps", "raw", "cr2", "nef", "urf", "sr2", "dip", "jpe", "jfif");

        var ekstenzijaUcitaneSlike = element.value.split('.').pop().toLowerCase();

        if (element.value.length == 0) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
            error.innerHTML = "*Odaberite sliku koju želite spasiti";
            return false;
        }
        else {
            if (element.value.length != 0) {
                for (var i = 0; i <= dozvoljeneEkstenzije.length; i++) {
                    if (dozvoljeneEkstenzije[i] == ekstenzijaUcitaneSlike) {
                        element.classList.remove("input-validation-error");
                        error.classList.remove("field-validation-error");
                        error.classList.add("field-validation-valid");
                        error.innerHTML = "";
                        return true;
                    }
                   
                }
                element.classList.add("input-validation-error");
                error.classList.remove("field-validation-valid");
                error.classList.add("field-validation-error");
                error.innerHTML = "*Odabrani file nije dozvoljenog formata";
                return false;
               
            }
        }

        element.classList.remove("input-validation-error");
        error.classList.remove("field-validation-error");
        error.classList.add("field-validation-valid");
        error.innerHTML = "";
        return true;


    }

</script>
<!-- Modal za korisnicke podatke-->
<div id="korisnickiPodaciModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje korisničkih podataka</h4>
            </div>
            <div class="modal-body" id="FormaKorisnickiPodaci">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<!-- Modal za klubske podatke-->
<div id="klubskiPodaciModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje klubskih podataka</h4>
            </div>
            <div class="modal-body" id="FormaKlubskiPodaci">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>

<!-- Modal za lične podatke-->
<div id="licniPodaciModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FF8800;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Uređivanje ličnih podataka</h4>
            </div>
            <div class="modal-body" id="FormaLicniPodaci">
                <div class="text-center" id="Loading1" style="margin:auto;">
                    <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" title="Odustani" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>

            </div>
        </div>

    </div>
</div>