@model KarateKlub.Web.Areas.ModulAdministrator.Models.KorisnickiNaloziIndexVM
@using KarateKlub.Web.Areas.ModulAdministrator.Models
@{
    ViewBag.Title = "Korisnički nalozi";
    ViewBag.PageTitle = "Prikaz korisničkih naloga";
    var administrator = 0;
    var blagajnik = 1;
    var sekretar = 2;
    var trener = 3;
    var clanKluba = 4;
    int brojTaba = (int)ViewData["tab"];

}
<div style="text-align:left;">

    @Html.ActionLink(" ", "Index", "Home", new { }, new { @class = " btn-lg btn btn-primary glyphicon glyphicon-chevron-left", @style = "font-family_", @Title = "Nazad na početnu" })

</div>
<br />
<br />

<div style="margin-left:48px;width:260px;" >
    @using (Html.BeginForm("Index", "KorisnickiNalozi", FormMethod.Get, new { id = "Filter" }))
    {
        @Html.DropDownListFor(model => model.aktivan, Model.Aktivnost, new { @class = "form-control", onchange = "document.getElementById('Filter').submit()" })

    }
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <ul class="nav nav-tabs nav-justified">

                <li id="administratori">
                    <a href="#administratoriTab" data-toggle="tab">Administratori</a>
                </li>
                <li id="blagajnici">
                    <a href="#blagajniciTab" data-toggle="tab">Blagajnici</a>
                </li>
                <li id="sekretari">
                    <a href="#sekretariTab" data-toggle="tab">Sekretari</a>
                </li>
                <li id="treneri">
                    <a href="#treneriTab" data-toggle="tab">Treneri</a>
                </li>
                <li id="clanoviKluba">
                    <a href="#clanoviKlubaTab" data-toggle="tab">Članovi</a>
                </li>
            </ul>
            <div class="tab-content">

                <div id="administratoriTab">
                  
                    @Html.Action("PrikazKorisnickihNaloga", "KorisnickiNalozi", new { aktivan = Model.aktivan, uloga = administrator })


                </div>

                <div id="blagajniciTab">


                    @Html.Action("PrikazKorisnickihNaloga", "KorisnickiNalozi", new { aktivan = Model.aktivan, uloga = blagajnik })

                </div>

                <div id="sekretariTab">
               
                    @Html.Action("PrikazKorisnickihNaloga", "KorisnickiNalozi", new { aktivan = Model.aktivan, uloga = sekretar })

                </div>
                <div id="treneriTab">
           

                    @Html.Action("PrikazKorisnickihNaloga", "KorisnickiNalozi", new { aktivan = Model.aktivan, uloga = trener })

                </div>
                <div id="clanoviKlubaTab">
                

                    @Html.Action("PrikazKorisnickihNaloga", "KorisnickiNalozi", new { aktivan = Model.aktivan, uloga = clanKluba })

                </div>
            </div>
            @*<div style="text-align:center;">
                @using (Ajax.BeginForm("Dodaj", "KorisnickiNalozi", new AjaxOptions { UpdateTargetId = "formaDodaj2" }))
                {
                    @Html.Hidden("IzIzbornika", false)
                    @Html.Hidden("aktivnost",Model.aktivan)
                    <button type="submit" class="btn-lg btn btn-primary" title="Dodaj korisnika" data-toggle="modal" data-target="#modalDodajKorisnika" data-backdrop="satic" data-keyboard="false"><span class="fa fa-user-plus" aria-hidden="true"></span>Dodaj korisnika</button>
                }
            </div>*@
        </div>

    </div>
</div>
<hr />
<script>
   if (@brojTaba==1)
    {
       var administratori = document.getElementById("administratori");
       administratori.classList.add("active");
        var administratoriTab = document.getElementById("administratoriTab");
        administratoriTab.classList.add("tab-pane");
        administratoriTab.classList.add("fade");
        administratoriTab.classList.add("in");
        administratoriTab.classList.add("active");
        var blagajniciTab = document.getElementById("blagajniciTab");
        blagajniciTab.classList.add("tab-pane");
        blagajniciTab.classList.add("fade");
        var sekretariTab = document.getElementById("sekretariTab");
        sekretariTab.classList.add("tab-pane");
        sekretariTab.classList.add("fade");
        var treneriTab = document.getElementById("treneriTab");
        treneriTab.classList.add("tab-pane");
        treneriTab.classList.add("fade");
        var clanoviKlubaTab = document.getElementById("clanoviKlubaTab");
        clanoviKlubaTab.classList.add("tab-pane");
        clanoviKlubaTab.classList.add("fade");

    }
    else if(@brojTaba==2){
        var blagajnici=document.getElementById("blagajnici");
        blagajnici.classList.add("active");
        var blagajniciTab = document.getElementById("blagajniciTab");
        blagajniciTab.classList.add("tab-pane");
        blagajniciTab.classList.add("fade");
        blagajniciTab.classList.add("in");
        blagajniciTab.classList.add("active");
        var administratoriTab = document.getElementById("administratoriTab");
        administratoriTab.classList.add("tab-pane");
        administratoriTab.classList.add("fade");
        var sekretariTab = document.getElementById("sekretariTab");
        sekretariTab.classList.add("tab-pane");
        sekretariTab.classList.add("fade");
        var treneriTab = document.getElementById("treneriTab");
        treneriTab.classList.add("tab-pane");
        treneriTab.classList.add("fade");
        var clanoviKlubaTab = document.getElementById("clanoviKlubaTab");
        clanoviKlubaTab.classList.add("tab-pane");
        clanoviKlubaTab.classList.add("fade");



    }
    else if(@brojTaba==3){
        var sekretari=document.getElementById("sekretari");
        sekretari.classList.add("active");
        var sekretariTab = document.getElementById("sekretariTab");
        sekretariTab.classList.add("tab-pane");
        sekretariTab.classList.add("fade");
        sekretariTab.classList.add("in");
        sekretariTab.classList.add("active");
        var administratoriTab = document.getElementById("administratoriTab");
        administratoriTab.classList.add("tab-pane");
        administratoriTab.classList.add("fade");
        var blagajniciTab = document.getElementById("blagajniciTab");
        blagajniciTab.classList.add("tab-pane");
        blagajniciTab.classList.add("fade");
        var treneriTab = document.getElementById("treneriTab");
        treneriTab.classList.add("tab-pane");
        treneriTab.classList.add("fade");
        var clanoviKlubaTab = document.getElementById("clanoviKlubaTab");
        clanoviKlubaTab.classList.add("tab-pane");
        clanoviKlubaTab.classList.add("fade");


    }

    else if(@brojTaba==4){
        var treneri=document.getElementById("treneri");
        treneri.classList.add("active");
        var treneriTab = document.getElementById("treneriTab");
        treneriTab.classList.add("tab-pane");
        treneriTab.classList.add("fade");
        treneriTab.classList.add("in");
        treneriTab.classList.add("active");
        var administratoriTab = document.getElementById("administratoriTab");
        administratoriTab.classList.add("tab-pane");
        administratoriTab.classList.add("fade");
        var blagajniciTab = document.getElementById("blagajniciTab");
        blagajniciTab.classList.add("tab-pane");
        blagajniciTab.classList.add("fade");
        var sekretariTab = document.getElementById("sekretariTab");
        sekretariTab.classList.add("tab-pane");
        sekretariTab.classList.add("fade");
        var clanoviKlubaTab = document.getElementById("clanoviKlubaTab");
        clanoviKlubaTab.classList.add("tab-pane");
        clanoviKlubaTab.classList.add("fade");


    }

    else{
        var clanoviKluba=document.getElementById("clanoviKluba");
        clanoviKluba.classList.add("active");
        var clanoviKlubaTab = document.getElementById("clanoviKlubaTab");
        clanoviKlubaTab.classList.add("tab-pane");
        clanoviKlubaTab.classList.add("fade");
        clanoviKlubaTab.classList.add("in");
        clanoviKlubaTab.classList.add("active");
        var administratoriTab = document.getElementById("administratoriTab");
        administratoriTab.classList.add("tab-pane");
        administratoriTab.classList.add("fade");
        var blagajniciTab = document.getElementById("blagajniciTab");
        blagajniciTab.classList.add("tab-pane");
        blagajniciTab.classList.add("fade");
        var sekretariTab = document.getElementById("sekretariTab");
        sekretariTab.classList.add("tab-pane");
        sekretariTab.classList.add("fade");
        var treneriTab = document.getElementById("treneriTab");
        treneriTab.classList.add("tab-pane");
        treneriTab.classList.add("fade");

    }
</script>


    @*<div id="modalDodajKorisnika" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#337ab7;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:white;">Upravljanje nalozima</h4>
                </div>
  
                    <div class="modal-body" id="formaDodaj2">
                        <div class="text-center" id="Loading1" style="margin:auto;">
                            <img src="~/Content/AdminLTE-2.4.2/dist/img/gifLoading.gif" />
                        </div>
                    </div>
                    <div class="modal-footer">
                    
                            <button type="button" style="margin-right:200px;width:170px;" class="btn-lg btn btn-danger" data-dismiss="modal"><span class="fa fa-eraser"></span> Odustani</button>
                     
                    </div>
                </div>

        </div>
    </div>*@
