@model KarateKlub.Web.Areas.ModulSekretar.Models.RazduzenaOpremaKlubaClanoviUrediVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Uređivanje razdužene opreme";
    ViewBag.Title = "Uređivanje razdužene opreme";
    Layout = null;
}


<style>
    #PoravnanjeKontrola {
        margin-left: 1px;
        width: 300px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    #Poravnanje {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

@using (Html.BeginForm("SpremiIzmjenuRazduzenjaOpreme", "RazduzenaOpremaKlubaClanovi", FormMethod.Post, new { style = "width:400px;", id = "formaDodajRazduzenje" }))
{
    @Html.HiddenFor(Model => Model.ZaduzenjeOpremeKlubaClanovimaId)
    @Html.HiddenFor(Model => Model.aktivnost)
    @Html.HiddenFor(Model => Model.Id)
    <div id="Poravnanje">



        <div class="form-group" style="width:auto;" id="datumZaduzenja">

            <label>Datum razduženja: </label>

            <div class="input-group date">
                @Html.TextBoxFor(model => model.DatumRazduzenjaOpreme, new { @class = "form-control datepicker", onchange = "ValidirajDatumRazduzenjaOpreme()" })
                @Html.ValidationMessageFor(model => model.DatumRazduzenjaOpreme)
                @Html.ValidationMessage("DatumRazduzenjaOpremeError", new { id = "DatumRazduzenjaOpremeError" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>

        </div>


    </div>
    <div id="btnSpremi">
        <button type="submit" title="Spremi podatke" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>


}
<script>

    $(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'bs'
        })
    })
</script>
<script type="text/javascript">


    document.getElementById("DatumRazduzenjaOpreme").onblur = ValidirajDatumRazduzenjaOpreme;

    function Validiraj() {
        var valid = true;

        if (ValidirajDatumRazduzenjaOpreme() == false) {
            valid = false;
        }

        return valid;

    }

    function ValidirajDatumRazduzenjaOpreme() {
        var valid = true;
        var element = document.getElementById("DatumRazduzenjaOpreme");
        var error = document.getElementById("DatumRazduzenjaOpremeError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum razduženja je obavezno polje";
        }
        else {
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
</script>







