@model KarateKlub.Web.Areas.ModulSekretar.Models.UplateUposlenicimaUrediVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Uređivanje podataka uplate";
    ViewBag.Title = "Uređivanje podataka uplate";
    Layout = null;
}


<style>
    #PoravnanjeKontrola {
        margin-left: 1px;
        width: 300px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    #Poravnanje {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

@using (Html.BeginForm("SpremiIzmjenuUplate", "UplateUposlenicima", FormMethod.Post, new { style = "width:400px;", id = "formaUrediUplatu" }))
{
    @Html.HiddenFor(Model => Model.OsobaId)
    @Html.HiddenFor(Model => Model.funkcijaOsobe)
    @Html.HiddenFor(Model => Model.Id)


    <div id="Poravnanje">
        <div class="form-group" style="width:auto;">
            <label>Svrha: </label>
            @Html.TextBoxFor(model => model.SvrhaUplate, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SvrhaUplate)
            @Html.ValidationMessage("SvrhaUplateError", new { id = "SvrhaUplateError" })

        </div>

        <div class="form-group" style="width:auto;">
            <label>Iznos: </label>
            @Html.TextBoxFor(model => model.IznosKMBrojevima, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IznosKMBrojevima)
            @Html.ValidationMessage("IznosKMBrojevimaError", new { id = "IznosKMBrojevimaError" })

        </div>
        <div class="form-group" style="width:auto;">
            <label>Iznos slovima: </label>
            @Html.TextAreaFor(model => model.IznosKMSLovima, new { @class = "form-control", @style = "resize:none;height:70px;" })
            @Html.ValidationMessageFor(model => model.IznosKMSLovima)
            @Html.ValidationMessage("IznosKMSLovimaError", new { id = "IznosKMSLovimaError" })

        </div>

        <div class="form-group" style="width:auto;">

            <label>Datum uplate: </label>

            <div class="input-group date">
                @Html.TextBoxFor(model => model.DatumUplate, new { @class = "form-control datepicker", onchange = "ValidirajDatumUplate()" })
                @Html.ValidationMessageFor(model => model.DatumUplate)
                @Html.ValidationMessage("DatumUplateError", new { id = "DatumUplateError" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>

        </div>
        <label>Uplata za period (Datum od): </label>

        <div class="input-group date">
            @Html.TextBoxFor(model => model.DatumOd, new { @class = "form-control datepicker", onchange = "ValidirajDatumOd()" })
            @Html.ValidationMessageFor(model => model.DatumOd)
            @Html.ValidationMessage("DatumOdError", new { id = "DatumOdError" })
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
        </div>
        <label>Uplata za period (Datum do): </label>

        <div class="input-group date">
            @Html.TextBoxFor(model => model.DatumDo, new { @class = "form-control datepicker", onchange = "ValidirajDatumDo()" })
            @Html.ValidationMessageFor(model => model.DatumDo)
            @Html.ValidationMessage("DatumDoError", new { id = "DatumDoError" })
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
        </div>

        <div class="form-group" style="width:auto;">
            <label>Obrazloženje uplate: </label>
            @Html.TextAreaFor(model => model.Obrazlozenje, new { @class = "form-control", @style = "resize:none;height:150px;" })
            @Html.ValidationMessageFor(model => model.Obrazlozenje)
            @Html.ValidationMessage("ObrazlozenjeUplateError", new { id = "ObrazlozenjeUplateError" })

        </div>
    </div>
    <div id="btnSpremi">
        <button type="submit" title="Spremi podatke" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>


}

<script>

    $(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'bs'
        })
    })
</script>
<script type="text/javascript">

    document.getElementById("SvrhaUplate").onblur = ValidirajSvrhuUplate;
    document.getElementById("IznosKMBrojevima").onblur = ValidirajIznosBrojevima;
    document.getElementById("IznosKMSLovima").onblur = ValidirajIznosSlovima;
    document.getElementById("DatumUplate").onblur = ValidirajDatumUplate;
    document.getElementById("DatumOd").onblur = ValidirajDatumOd;
    document.getElementById("DatumDo").onblur = ValidirajDatumDo;



    function Validiraj() {
        var valid = true;
        if (ValidirajSvrhuUplate() == false)
            valid = false;
        if (ValidirajIznosBrojevima() == false)
            valid = false;
        if (ValidirajIznosSlovima() == false)
            valid = false;
        if (ValidirajDatumUplate() == false)
            valid = false;
        if (ValidirajDatumOd() == false)
            valid = false;
        if (ValidirajDatumDo() == false)
            valid = false;


        return valid;

    }

    function ValidirajSvrhuUplate() {

        var valid = true;
        var element = document.getElementById("SvrhaUplate");
        var error = document.getElementById("SvrhaUplateError");


        if (element.value == "") {
            valid = false;
            error.innerHTML = "Svrha uplate je obavezno polje";
        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }

    function ValidirajDatumUplate() {
        var valid = true;
        var element = document.getElementById("DatumUplate");
        var error = document.getElementById("DatumUplateError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum uplate je obavezno polje";
        }
        else {
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajIznosBrojevima() {

        var valid = true;
        var element = document.getElementById("IznosKMBrojevima");
        var error = document.getElementById("IznosKMBrojevimaError");

        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Iznos je obavezno polje";
        }
        else {

            var pravilo = new RegExp(/^[+]?[0-9]+(\,[0-9]+)?$/);

            if (!pravilo.test(element.value) == true) {
                valid = false;
                error.innerHTML = "*Iznos može biti samo broj";
            }
            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
            }
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajIznosSlovima() {

        var valid = true;
        var element = document.getElementById("IznosKMSLovima");
        var error = document.getElementById("IznosKMSLovimaError");

        var pravilo = new RegExp(/[0-9*_$%?#&!.,+]/, 'gi');
        if (pravilo.test(element.value) == true) {
            valid = false;
            error.innerHTML = "*Iznos slovima se sastoji isključivo od slova";
        }


        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
        }


        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajDatumOd() {
        var valid = true;
        var element = document.getElementById("DatumOd");
        var error = document.getElementById("DatumOdError");
        var datumDo = document.getElementById("DatumDo");
        var datumDoError = document.getElementById("DatumDoError");
        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum početka je obavezno polje";
        }
        else 
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
  
        else if (element.value != "" && datumDo.value != "") {
            var danOd = element.value.substring(0, 2);
            var mjesecOd = element.value.substring(3, 5);
            var godinaOd = element.value.substring(6, 20);
            var danDo = datumDo.value.substring(0, 2);
            var mjesecDo = datumDo.value.substring(3, 5);
            var godinaDo = datumDo.value.substring(6, 20);
            var noviDatumOd = mjesecOd + "/" + danOd + "/" + godinaOd;
            var noviDatumDo = mjesecDo + "/" + danDo + "/" + godinaDo;

            var dod = new Date(noviDatumOd);
            var ddo = new Date(noviDatumDo);
            if (ddo <= dod) {
                valid = false;
                error.innerHTML = "*Datum početka mora biti manji od datuma završetka.";

            }

            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }


        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            valid = true;
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajDatumDo() {
        var valid = true;
        var element = document.getElementById("DatumDo");
        var error = document.getElementById("DatumDoError");
        var datumOd = document.getElementById("DatumOd");
        var datumOdError = document.getElementById("DatumOdError");
        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum završetka je obavezno polje";
        }
        else 
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
         
        else if (element.value != "" && datumOd.value != "") {
            var danDo = element.value.substring(0, 2);
            var mjesecDo = element.value.substring(3, 5);
            var godinaDo = element.value.substring(6, 20);
            var danOd = datumOd.value.substring(0, 2);
            var mjesecOd = datumOd.value.substring(3, 5);
            var godinaOd = datumOd.value.substring(6, 20);
            var noviDatumOd = mjesecOd + "/" + danOd + "/" + godinaOd;
            var noviDatumDo = mjesecDo + "/" + danDo + "/" + godinaDo;

            var dod = new Date(noviDatumOd);
            var ddo = new Date(noviDatumDo);
            if (ddo <= dod) {
                valid = false;
                error.innerHTML = "*Datum završetka mora biti veći od datuma početka.";

            }

            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }


        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            valid = true;
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }


</script>












