@model KarateKlub.Web.Areas.ModulSekretar.Models.ObnoveLicenciDodajVM
@using KarateKlub.Web.Areas.ModulSekretar.Models
@{
    ViewBag.PageTitle = "Nova obnova licence";
    ViewBag.Title = "Nova obnova licence";
    Layout = null;
}


<style>
    #PoravnanjeKontrola {
        margin-left: 1px;
        width: 300px;
    }

    #btnSpremi {
        margin-left: 200px;
    }

    #Poravnanje {
        margin-left: 40px;
        margin-top: 10px;
        width: 500px;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

@using (Html.BeginForm("SpremiNovuObnovuLicence", "ObnoveLicenci", FormMethod.Post, new { style = "width:400px;", id = "formaDodajObnovuLicence" }))
{
    @Html.HiddenFor(Model=>Model.SeminarId)
    @Html.HiddenFor(Model => Model.StecenaLicencaId)

    <div id="Poravnanje">

        <div class="form-group" style="width:auto;">

            <label>Datum obnove: </label>

            <div class="input-group date">
                @Html.TextBoxFor(model => model.DatumObnove, new { @class = "form-control datepicker", onchange = "ValidirajDatumObnove()" })
                @Html.ValidationMessageFor(model => model.DatumObnove)
                @Html.ValidationMessage("DatumObnoveError", new { id = "DatumObnoveError" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>

        </div>

        <div class="form-group" style="width:auto;">

            <label>Datum isteka: </label>

            <div class="input-group date">
                @Html.TextBoxFor(model => model.DatumVazenja, new { @class = "form-control datepicker", onchange = "ValidirajDatumVazenja()" })
                @Html.ValidationMessageFor(model => model.DatumVazenja)
                @Html.ValidationMessage("DatumVazenjaError", new { id = "DatumVazenjaError" })
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>

        </div>
 
    </div>
    <div id="btnSpremi">
        <button type="submit" title="Spremi podatke" class="btn-lg btn btn-primary" style="width:170px;" onclick="return Validiraj()"><span class="fa fa-floppy-o"></span> Spremi  </button>
    </div>


}
<script>

    $(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'bs'
        })
    })

</script>
<script type="text/javascript">
 
    document.getElementById("DatumObnove").onblur = ValidirajDatumObnove;
    document.getElementById("DatumVazenja").onblur = ValidirajDatumVazenja;




    function Validiraj() {
        var valid = true;
        if (ValidirajDatumObnove() == false)
            valid = false;
        if (ValidirajDatumVazenja() == false)
            valid = false;
       

        return valid;

    }
    function ValidirajDatumObnove() {
        var valid = true;
        var element = document.getElementById("DatumObnove");
        var error = document.getElementById("DatumObnoveError");
        var datumDo = document.getElementById("DatumVazenja");
        var datumDoError = document.getElementById("DatumVazenjaError");
        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum obnove licence je obavezno polje";
        }
        else 
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
   
        else if (element.value != "" && datumDo.value != "") {
            var danOd = element.value.substring(0, 2);
            var mjesecOd = element.value.substring(3, 5);
            var godinaOd = element.value.substring(6, 20);
            var danDo = datumDo.value.substring(0, 2);
            var mjesecDo = datumDo.value.substring(3, 5);
            var godinaDo = datumDo.value.substring(6, 20);
            var noviDatumOd = mjesecOd + "/" + danOd + "/" + godinaOd;
            var noviDatumDo = mjesecDo + "/" + danDo + "/" + godinaDo;

            var dod = new Date(noviDatumOd);
            var ddo = new Date(noviDatumDo);
            if (ddo <= dod) {
                valid = false;
                error.innerHTML = "*Datum obnove licence mora biti manji od datuma isteka licence.";

            }

            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }


        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            valid = true;
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }
    function ValidirajDatumVazenja() {
        var valid = true;
        var element = document.getElementById("DatumVazenja");
        var error = document.getElementById("DatumVazenjaError");
        var datumOd = document.getElementById("DatumObnove");
        var datumOdError = document.getElementById("DatumObnoveError");
        if (element.value == "") {
            valid = false;
            error.innerHTML = "*Datum isteka licence je obavezno polje";
        }
        else 
            if (element.value.length < 10) {
                valid = false;
                error.innerHTML = "*Pogrešan format datuma";
            }
       
        else if (element.value != "" && datumOd.value != "") {
            var danDo = element.value.substring(0, 2);
            var mjesecDo = element.value.substring(3, 5);
            var godinaDo = element.value.substring(6, 20);
            var danOd = datumOd.value.substring(0, 2);
            var mjesecOd = datumOd.value.substring(3, 5);
            var godinaOd = datumOd.value.substring(6, 20);
            var noviDatumOd = mjesecOd + "/" + danOd + "/" + godinaOd;
            var noviDatumDo = mjesecDo + "/" + danDo + "/" + godinaDo;

            var dod = new Date(noviDatumOd);
            var ddo = new Date(noviDatumDo);
            if (ddo <= dod) {
                valid = false;
                error.innerHTML = "*Datum isteka licence mora biti veći od datuma obnove licence.";

            }

            else {
                element.classList.remove("input-validation-error");
                error.classList.remove("field-validation-error");
                error.classList.add("field-validation-valid");
                error.innerHTML = "";
                valid = true;
            }


        }
        else {
            element.classList.remove("input-validation-error");
            error.classList.remove("field-validation-error");
            error.classList.add("field-validation-valid");
            error.innerHTML = "";
            valid = true;
        }
        if (valid == false) {
            element.classList.add("input-validation-error");
            error.classList.remove("field-validation-valid");
            error.classList.add("field-validation-error");
        }
        return valid;
    }


</script>











